openapi: 3.0.3
info:
  title: TheSportsDB V2 API
  version: 2.0.0
  contact:
    name: TheSportsDB
    url: https://www.thesportsdb.com
  description: |
    TheSportsDB is a free and open database for sports data, providing information about leagues, teams, players, events, and venues across various sports. This API allows developers to access and integrate sports data into their applications.

    ## Authentication
    To access the API, you need an API key. You can obtain one by registering on [TheSportsDB](https://www.thesportsdb.com).

    ## Rate Limiting
    The API has a rate limit of 1000 requests per day for free users. Please refer to the documentation for more details on rate limits.

    ## Versioning
    This is version 2 of TheSportsDB API.

servers:
  - url: https://www.thesportsdb.com/api/v2/json
    description: TheSportsDB API v2

security:
  - apiKeyAuth: []

tags:
  - name:  V2 API Search
    description: |
      Search for any sports league, team, player, event, or venue using a text string.
      This endpoint allows you to find specific entities based on their names.
  - name:  V2 API Lookup
    description: |
      Lookup for any sports league, team, player, event, or venue using their unique IDs.
      This endpoint provides detailed information about specific entities based on their IDs.
  - name:  V2 API List
    description: |
      List all teams, seasons, players, or venues for a specific league or team.
      This endpoint allows you to retrieve collections of entities related to a specific league or team.
  - name:  V2 API Filter
    description: |
      Filter events by date, country, sport, or channel.
      This endpoint allows you to narrow down events based on specific criteria such as date or country.
  - name:  V2 API All
    description: |
      Retrieve all supported countries, sports, or leagues.
      This endpoint provides a comprehensive list of all entities available in the API.
  - name:  V2 API Schedule
    description: |
      Schedule endpoints to retrieve upcoming or previous events for leagues, teams, or venues.
      This endpoint allows you to get scheduled events based on specific criteria such as league or team.
  - name:  V2 API Livescores
    description: |
      Livescores endpoints to retrieve live scores for specific sports or leagues.
      This endpoint provides real-time scores for ongoing matches or events.

  
paths:

# V2 API Search Endpoints
  /search/league/{leagueName}:
    get:
      summary: Search sports league
      description: Search for any sports league using a text string.
      operationId: searchLeagueByName
      tags:
        - V2 API Search
      parameters:
        - in: path
          name: leagueName
          description: The name of the league to search for.
          schema:
            type: string
          required: true
          example: english_premier_league
      responses:
        '200':
          description: Array of leagues matching query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueSearchResponse'
              example:
                search:
                - idLeague: '4328'
                  strLeague: English Premier League
                  strSport: Soccer
                  strBadge: https://www.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strCountry: England
                  strCurrentSeason: 2025-2026
                  strGender: Male
  /search/team/{teamName}:
    get:
      summary: Search sports team
      description: Search for any sports team using a text string.
      operationId: searchTeamByName
      tags:
        - V2 API Search
      parameters:
        - in: path
          name: teamName
          description: The name of the team to search for.
          schema:
            type: string
          required: true
          example: manchester_united
      responses:
        '200':
          description: Array of teams matching query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamSearchResponse'
              example:
                search:
                - idTeam: '133612'
                  strTeam: Manchester United
                  idLeague: '4328'
                  strLeague: English Premier League
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png
                  strCountry: England
                  strGender: Male
                  strLocation: Trafford, Greater Manchester
                  strSport: Soccer
                - idTeam: '140199'
                  strTeam: Manchester United U21
                  idLeague: '4834'
                  strLeague: _No League Soccer
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/z5f11t1623621868.png
                  strCountry: England
                  strGender: Male
                  strLocation: ''
                  strSport: Soccer
                - idTeam: '140226'
                  strTeam: Manchester United WFC
                  idLeague: '4849'
                  strLeague: English Womens Super League
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/xqy8ct1605361724.png
                  strCountry: England
                  strGender: Female
                  strLocation: Sale Way, Leigh, Greater Manchester, UK
                  strSport: Soccer
                - idTeam: '147970'
                  strTeam: Manchester United Youth
                  idLeague: '5417'
                  strLeague: UEFA Youth League
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/lexfz71705234042.png
                  strCountry: England
                  strGender: Male
                  strLocation: Leigh, England
                  strSport: Soccer
  /search/player/{playerName}:
    get:
      summary: Search sports player
      description: Search for any sports person using a text string.
      operationId: searchPlayerByName
      tags:
        - V2 API Search
      parameters:
        - in: path
          name: playerName
          description: The name of the player to search for.
          schema:
            type: string
          required: true
          example: harry_kane
      responses:
        '200':
          description: Player details matching query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerSearchResponse'
              example:
                search:
                - idPlayer: '34146220'
                  strPlayer: Harry Kane
                  idTeam: '133664'
                  strTeam: Bayern Munich
                  dateBorn: '1993-07-28'
                  strThumb: https://www.thesportsdb.com/images/media/player/thumb/xk0gd71699458766.jpg
                  strSport: Soccer
  /search/event/{eventName}:
    get:
      summary: Search sports event
      description: Search for any sports event using a text string.
      operationId: searchEventByName
      tags:
        - V2 API Search
      parameters:
        - in: path
          name: eventName
          description: The name of the event to search for.
          schema:
            type: string
          required: true
          example: fifa_world_cup_2022-12-18_argentina_vs_france
      responses:
        '200':
          description: Event details matching query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSearchResponse'
              example:
                search:
                - idEvent: '1666948'
                  strEvent: Argentina vs France
                  strFilename: FIFA World Cup 2022-12-18 Argentina vs France
                  idLeague: '4429'
                  strLeague: FIFA World Cup
                  dateEvent: '2022-12-18'
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/ttb9go1671095858.jpg
                  strSport: Soccer
  /search/venue/{venueName}:
    get:
      summary: Search sports venue
      description: Search for any sports venue using a text string.
      operationId: searchVenueByName
      tags:
        - V2 API Search
      parameters:
        - in: path
          name: venueName
          description: The name of the venue to search for.
          schema:
            type: string
          required: true
          example: wembley
      responses:
        '200':
          description: Venue details matching query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueSearchResponse'
              example:
                search:
                - idVenue: '19835'
                  strVenue: Wembley Arena
                  strLocation: London, United Kingdom
                  strCountry: United Kingdom
                  strThumb: https://www.thesportsdb.com/images/media/venue/thumb/0cn2ky1719762176.jpg
                  strSport: Multi Sports
                - idVenue: '23604'
                  strVenue: Wembley Centre of Excellence
                  strLocation: Hayes, Clarendon, Jamaica
                  strCountry: Jamaica
                  strThumb: null
                  strSport: Soccer
                - idVenue: '16163'
                  strVenue: Wembley Stadium
                  strLocation: Wembley, London
                  strCountry: England
                  strThumb: https://www.thesportsdb.com/images/media/venue/thumb/qttuty1420627847.jpg
                  strSport: Soccer


# V2 API Lookup Endpoints
  /lookup/league/{idLeague}:
    get:
      summary: Lookup sports league by ID
      description: Lookup for any league using its unique ID.
      operationId: lookupLeagueById
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idLeague
          description: The ID of the league to lookup.
          schema:
            type: integer
          required: true
          example: 4328
      responses:
        '200':
          description: League details for the given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueLookupResponse'
              example:
                lookup:
                - idLeague: '4328'
                  idSoccerXML: 
                  idAPIfootball: '7293'
                  strSport: Soccer
                  strLeague: English Premier League
                  strLeagueAlternate: Premier League, EPL
                  intDivision: '0'
                  idCup: '0'
                  strCurrentSeason: 2025-2026
                  intFormedYear: '1992'
                  dateFirstEvent: '1992-08-15'
                  strGender: Male
                  strCountry: England
                  strWebsite: https://www.premierleague.com
                  strFacebook: https://xen-gb.facebook.com/premierleague/
                  strInstagram: https://www.instagram.com/premierleague
                  strTwitter: https://twitter.com/premierleague
                  strYoutube: https://www.youtube.com/channel/UCG5qGWdu8nIRZqJ_GgDwQ-w
                  strRSS: https://feeds.bbci.co.uk/sport/football/rss.xml
                  strDescriptionEN: "The Premier League, often referred to as the English Premier
                    League or the EPL (legal name: The Football Association Premier League Limited),
                    is the top level of the English football league system. Contested by 20 clubs,
                    it operates on a system of promotion and relegation with the English Football
                    League (EFL). Seasons run from August to May with each team playing 38 matches
                    (playing all 19 other teams both home and away). Most games are played on Saturday
                    and Sunday afternoons.\r\n\r\nThe competition was founded as the FA Premier League
                    on 20 February 1992 following the decision of clubs in the Football League First
                    Division to break away from the Football League, founded in 1888, and take advantage
                    of a lucrative television rights sale to Sky. From 2019-20, the league's accumulated
                    television rights deals were worth around Â£3.1 billion a year, with Sky and BT
                    Group securing the domestic rights to broadcast 128 and 32 games respectively.
                    The Premier League is a corporation where chief executive Richard Masters is responsible
                    for its management, whilst the member clubs act as shareholders. Clubs were apportioned
                    central payment revenues of Â£2.4 billion in 2016â€“17, with a further Â£343 million
                    in solidarity payments to English Football League (EFL) clubs.\r\n\r\nThe Premier
                    League is the most-watched sports league in the world, broadcast in 212 territories
                    to 643 million homes and a potential TV audience of 4.7 billion people. For the
                    2018â€“19 season, the average Premier League match attendance was at 38,181, second
                    to the German Bundesliga's 43,500, while aggregated attendance across all matches
                    is the highest of any association football league at 14,508,981. Most stadium
                    occupancies are near capacity. The Premier League ranks first in the UEFA coefficients
                    of leagues based on performances in European competitions over the past five seasons
                    as of 2021. The English top-flight has produced the second-highest number of UEFA
                    Champions League/European Cup titles, with five English clubs having won fourteen
                    European trophies in total.\r\n\r\nFifty clubs have competed since the inception
                    of the Premier League in 1992: forty-eight English and two Welsh clubs. Seven
                    of them have won the title: Manchester United (13), Chelsea (5), Manchester City
                    (5), Arsenal (3), Blackburn Rovers (1), Leicester City (1) and Liverpool (1)."
                  strDescriptionDE: "Die Premier League (offiziell nach dem Sponsoren â€žBarclays Premier
                    Leagueâ€œ, umgangssprachlich â€žThe Premiershipâ€œ) ist die hÃ¶chste Spielklasse im englischen
                    FuÃŸball und befindet sich damit auf der obersten Ebene des englischen Ligasystems.
                    Es nehmen momentan 20 Vereine an einer Spielrunde, die zwischen August und Mai
                    des Folgejahres ausgetragen wird, teil. Ãœber eine Auf- und Abstiegsregelung mit
                    dem darunter angesiedelten Football-League-Verband findet jÃ¤hrlich ein Austausch
                    von drei Klubs statt.\r\n\r\nDie am 20. Februar 1992 als â€žFA Premier Leagueâ€œ gegrÃ¼ndete
                    Spielklasse nahm am 15. August desselben Jahres offiziell ihren Spielbetrieb auf.
                    Die Vereine der damaligen Eliteliga First Division profitierten damit erheblich
                    von deutlich erhÃ¶hten Fernseheinnahmen und spalteten sich von der Football League
                    ab, die selbst damit die seit 1888 bestehende Vorherrschaft als Plattform fÃ¼r
                    den englischen und walisischen SpitzenfuÃŸball verlor. Die Premier League hat sich
                    seitdem zu der Sportliga mit der weltweit hÃ¶chsten Zuschaueranzahl entwickelt.[1]\r\n\r\nVon
                    den mittlerweile 45 teilnehmenden Vereinen konnten bisher nur fÃ¼nf Mannschaften
                    die Premier-League-Meisterschaft gewinnen: Manchester United (13 Titel), FC Arsenal
                    (drei Titel), FC Chelsea (drei Titel), Manchester City (zwei Titel) und die Blackburn
                    Rovers (ein Titel). Neben 43 englischen Clubs kommen zwei Premier-Ligisten aus
                    Wales.\r\n\r\nDas GegenstÃ¼ck im Frauenbereich ist die FA Womenâ€™s Premier League
                    (oder genauer die â€žFA Women's Premier League National Divisionâ€œ), wobei die Vereine
                    dort in mehr oder weniger abhÃ¤ngigen Verbindungen zu den renommierten Klubs im
                    MÃ¤nnerfuÃŸball aus der Premier League und der Football League stehen. Dennoch besitzt
                    die Frauenliga einen eher semiprofessionellen Charakter und findet in der Ã–ffentlichkeit
                    im Vergleich zum MÃ¤nnerbereich eine deutlich geringere Resonanz.\r\n\r\nSeit 1999
                    existiert zudem fÃ¼r die Reserveteams der Profivereine die Premier Reserve League,
                    in der seit der Spielzeit 2006/07 nur Mannschaften der Premier-League-Teilnehmer
                    spielberechtigt sind. Dort kommen neben den Ersatzspielern, die nicht Teil des
                    offiziellen Profikaders sind, vorrangig die jungen Talente der Erstligavereine
                    zum Einsatz."
                  strDescriptionFR: "Le Championnat d'Angleterre de football est une compÃ©tition sportive
                    situÃ©e au sommet de la hiÃ©rarchie du football en Angleterre. LancÃ©e en 1888 par
                    la The Football Association sous le nom de Football League, la compÃ©tition laisse
                    place en 1992 Ã  la Premier League, dont le nom officiel est Barclays Premier League
                    depuis 2004.\r\n\r\nLa compÃ©tition se dÃ©roule annuellement, du mois d'aoÃ»t au
                    mois de mai suivant, sous forme d'un championnat mettant aux prises vingt clubs
                    professionnels, actionnaires de la Premier League, qui disputent chacun 38 matchs.
                    Ã€ la fin de la saison, le premier est sacrÃ© champion, les suivants sont qualifiÃ©s
                    pour les compÃ©titions europÃ©ennes organisÃ©es par l'UEFA tandis que les trois Ã©quipes
                    totalisant le plus faible nombre de points sont relÃ©guÃ©es en Football League,
                    devenu l'Ã©chelon infÃ©rieur.\r\n\r\nCe championnat est l'un des plus prestigieux
                    au monde et le plus populaire en termes de tÃ©lÃ©spectateurs, estimÃ©s Ã  plus d'un
                    milliard en 2007. Il est rÃ©putÃ© pour Ãªtre l'un des plus exigeants physiquement
                    pour les joueurs, en raison du calendrier dense, malgrÃ© le passage du championnat
                    de 22 Ã  20 clubs en 1995, et de l'engagement traditionnel du football britannique.
                    La Premier League se place par ailleurs au premier rang europÃ©en des championnats
                    au coefficient UEFA de 2008 Ã  2012, aprÃ¨s l'avoir dÃ©jÃ  Ã©tÃ© de 1968 Ã  1975 et en
                    1985.\r\n\r\nDepuis 1888, 23 clubs ont remportÃ© le championnat : les plus titrÃ©s
                    sont Manchester United (20 titres, sept de Football League et treize de Premier
                    League), Liverpool (18, tous de Football League) et Arsenal (13, dix de Football
                    League et trois de Premier League). Trois autres clubs ont remportÃ© la Premier
                    League depuis 1992 : Chelsea (trois fois), Blackburn Rovers et Manchester City."
                  strDescriptionIT: "La Premier League Ã¨ la massima serie del campionato inglese di
                    calcio ed Ã¨ gestita dalla Football Association (FA).\r\n\r\nSi tratta di un campionato
                    formato da 20 squadre (22 squadre fino al 1995) che non fanno parte della Football
                    League, nato dallo scisma del calcio inglese del 1992.\r\n\r\nAl 2016 la Premier
                    League occupa il secondo posto nel ranking UEFA per competizioni di club.\r\n\r\nAlla
                    massima divisione del campionato inglese partecipano 20 squadre, che si affrontano
                    in un torneo all'Italiana con partite di andata e ritorno. Il regolamento assegna,
                    per ogni incontro, tre punti alla squadra vincitrice, zero punti alla squadra
                    sconfitta ed un punto ad entrambe le formazioni in caso di pareggio.\r\n\r\nAlla
                    squadra prima in classifica dopo le 38 gare di campionato viene assegnato il titolo
                    di campione d'Inghilterra. Unitamente alla seconda ed alla terza classificata,
                    essa accede al tabellone principale della UEFA Champions League, mentre la quarta
                    deve prima passare per il turno di play-off. La quinta in classifica si qualifica
                    alla UEFA Europa League insieme alla squadra vincitrice della FA Cup (fase a gironi)
                    e alla vincitrice della League Cup (terzo turno di qualificazione). Le ultime
                    tre squadre classificate vengono retrocesse in Football League Championship (seconda
                    divisione inglese)."
                  strDescriptionCN: "è‹±æ ¼å…°è¶³çƒè¶…çº§è”èµ›ï¼ˆè‹±è¯­ï¼šPremier Leagueï¼‰ï¼Œç®€ç§°è‹±è¶…ï¼ŒéŽå¾€å† åç‚ºå·´å…‹èŠè¶…ç´šè¯è³½ï¼ˆBarclays Premier
                    Leagueï¼‰ï¼Œæ˜¯è‹±æ ¼è˜­è¶³çƒç¸½æœƒè½„ä¸‹çš„èŒä¸šè¶³çƒè”èµ›ï¼Œæ˜¯è‹±æ ¼è˜­è¯è³½ç³»çµ±çš„æœ€é«˜ç­‰çº§è”èµ›ï¼Œè‹±è¶…ç”±è¶…çº§è”ç›Ÿè´Ÿè´£å…·ä½“è¿ä½œï¼Œè€Œé‹ä½œæ¨¡å¼ç‚ºä¸€æ‰€ä»¥20é–“çƒæœƒå…±åŒæ“æœ‰çš„æœ‰é™å…¬å¸ã€‚\r\nè‹±æ ¼å…°è¶…çº§è”èµ›æˆç«‹æ–¼1992å¹´2æœˆ20æ—¥ï¼Œå…¶å‰èº«æ˜¯è‹±æ ¼å…°ç”²çº§è”èµ›(é ‚ç´šè¯è³½)ã€‚ç¾ä»Šè‹±è¶…è”èµ›å·²ç¶“æˆç‚ºä¸–ç•Œä¸Šæœ€å—æ­¡è¿Žä»¥åŠæœ€å—é—œæ³¨çš„è¶³çƒè¯è³½ï¼Œäº¦æ˜¯è‹±æ ¼è˜­åœ‹å®¶éšŠçš„å°‘æž—å¯ºã€‚\r\nè‹±è¶…è”èµ›è‡ª1991è‡³1993å¹´æˆç«‹ä»¥ä¾†æœ‰47æ”¯çƒéšŠåƒèˆ‡ç«¶çˆ­ï¼Œä½†åªæœ‰å…­æ”¯å¥ªå¾—å† è»ï¼šæ›¼è¯ï¼ˆ13æ¬¡ï¼‰ï¼Œè»Šè·¯å£«ï¼ˆ4æ¬¡ï¼‰ï¼Œé˜¿ä»™å¥´ï¼ˆ3æ¬¡ï¼‰ï¼Œæ›¼åŸŽï¼ˆ2æ¬¡ï¼‰ï¼Œå¸ƒåŠ›èˆ¬æµæµªå’ŒæŽæ–¯ç‰¹åŸŽï¼ˆ1æ¬¡ï¼‰ã€‚\r\n\r\nè‹±æ ¼å…°è¶…çº§è”èµ›æ˜¯æ”¶å…¥æœ€é«˜çš„è¶³çƒè”èµ›ï¼Œæ ¹æ“šå¾·å‹¤è¶³çƒä¿±æ¨‚éƒ¨è²¡å¯ŒæŽ’åæ¦œ,
                    2014â€“15å¹´ æ”¶å…¥æœ€é«˜é¦– 30 åçƒéšŠ, è‹±æ ¼è˜­ï¼ˆè‹±è¶…ï¼‰å·²ä½”äº†16éšŠã€‚[1]ã€‚è€Œ2016â€“17å¹´ æœªä¾†3å­£è‹±åœ‹ä»¥å¤–åœ°å€è½‰æ’­æ”¶å…¥ï¼Œæ¯å­£è¶…é€¾30å„„è‹±éŽŠ ã€‚æ·¨æ˜¯æœªä¾†3å­£(2016
                    -2019) ä¾†è‡ª é¦™æ¸¯ åœ°å€è½‰æ’­æ”¶å…¥, æ¯å­£å·²ç¶“ç´„1å„„å¤šç¾Žå…ƒã€‚è€Œåœ¨è‹±åœ‹åœ‹å…§é‚„æœ‰ BT Sportã€ Sky Sports 51.6å„„éŽŠç›´æ’­æ”¶å…¥ã€‚[2]\r\n\r\nå·´å…‹èŽ±é“¶è¡Œæ›¾ä»¥èˆ‡è¶…çº§è”èµ›ç°½ç½²åƒ¹å€¼6,580è¬è‹±éŽŠè´ŠåŠ©åˆç´„3å¹´è‡³2010å¹´
                    [3]ã€‚ 2012å¹´7æœˆ12æ—¥è‹±è¶…è³½æœƒå®£ä½ˆ2013/14è³½å­£è‡³2015/16å¹´è³½å­£ç¹¼çºŒç”±å·´å…‹èŽ±é“¶è¡Œå† åè´ŠåŠ©è‹±è¶…ï¼Œè´ŠåŠ©åˆç´„ä»¥æ¯è³½å­£4000è¬è‹±éŽŠè¨ˆç®—å³ç¸½å€¼1å„„2000è¬è‹±éŽŠ[4]ã€‚2016â€“17å¹´
                    é–‹å§‹ä¸å†å¯¦è¡Œå† åå·´å…‹èŠè´ŠåŠ©ï¼Œåªä½œ Premier League è¶…ç´šè¯è³½ï¼Œï¼Œè€Œäº¦é€²è¡Œäº†å“ç‰Œæ”¹é€ ï¼Œå“ç‰Œæ¨™èªŒã€å“ç‰Œå­—é«”å°‡æœ‰æ–°é¢è²Œ[5]ã€‚"
                  strDescriptionJP: "ãƒ—ãƒ¬ãƒŸã‚¢ãƒªãƒ¼ã‚°ï¼ˆè‹±: Premier Leagueï¼‰ã¯ã€ã‚¤ãƒ³ã‚°ãƒ©ãƒ³ãƒ‰ã®ã‚µãƒƒã‚«ãƒ¼ãƒªãƒ¼ã‚°ã«ãŠã‘ã‚‹ãƒˆãƒƒãƒ—ãƒ‡ã‚£ãƒ´ã‚£ã‚¸ãƒ§ãƒ³ï¼ˆ1éƒ¨ãƒªãƒ¼ã‚°ï¼‰ã€‚[1]\r\n\r\nä¸–ç•Œä¸­ã§ç´„10å„„äººä»¥ä¸Šã«è¦–è´ã•ã‚Œã€å…¨ä¸–ç•Œã§æœ€ã‚‚äººæ°—ãŒé«˜ã„ãƒªãƒ¼ã‚°ã§ã‚ã‚Š[2]ã€ä¸–ç•Œæœ€é«˜å³°ãƒ¬ãƒ™ãƒ«ã®ãƒªãƒ¼ã‚°ã®ä¸€ã¤ã§ã‚ã‚‹ã€‚ã‚µãƒƒã‚«ãƒ¼ç«¶æŠ€ã®ã¿ãªã‚‰ãšã€å…¨ä¸–ç•Œã®ã‚¹ãƒãƒ¼ãƒ„ãƒªãƒ¼ã‚°ã®ä¸­ã§æœ€ã‚‚ãƒ†ãƒ¬ãƒ“ä¸­ç¶™ã®è¦–è´è€…ãŒå¤šãã€äººæ°—ã€å®ŸåŠ›ã¯å…±ã«é«˜ã„ã€‚ã¾ãŸã€ä¸Šä½ãƒãƒ¼ãƒ ã‹ã‚‰ä¸‹ä½ãƒãƒ¼ãƒ ã¾ã§ã®è³‡é‡‘åŠ›åŠã³ã€ãƒ¬ãƒ™ãƒ«å·®ãŒå°ã•ã„ã®ã‚‚ç‰¹å¾´ã§åº¦ã€…ä¸‹ä½ãƒãƒ¼ãƒ ãŒä¸Šä½ãƒãƒ¼ãƒ ã«å‹åˆ©ã™ã‚‹ã“ã¨ãŒã‚ã‚‹ã€‚ã“ã®ãŸã‚ç¾åœ¨ã§ã¯ä¸–ç•Œã§æœ€ã‚‚å„ªå‹ã™ã‚‹ã®ãŒé›£ã—ã„ãƒªãƒ¼ã‚°ã§ã‚ã‚‹ã¨è¨€ã‚ã‚Œã¦ã„ã‚‹ã€‚2000å¹´ä»¥é™ã€æ¬§å·žä¸»è¦ãƒªãƒ¼ã‚°ã®ä¸­ã§ã‚‚åœ§å€’çš„ãªå£²ä¸Šé«˜ã‚’èª‡ã‚Šã€2009-2010ã‚·ãƒ¼ã‚ºãƒ³ã®å£²ä¸Šé«˜ã¯24å„„7900ä¸‡ãƒ¦ãƒ¼ãƒ­ã§ã‚ã‚Šã€2ä½ã®ãƒ–ãƒ³ãƒ‡ã‚¹ãƒªãƒ¼ã‚¬ã‚’å¤§ããå¼•ãé›¢ã—ã¦ã„ã‚‹[3]ã€‚\r\nãƒ†ãƒ¬ãƒ“æ”¾æ˜ æ¨©æ–™ã‚‚å·¨é¡ã§ã‚ã‚Š2016å¹´ã‹ã‚‰2019å¹´ã®3å¹´é–“ã§95å„„ãƒ¦ãƒ¼ãƒ­ï¼ˆç´„1.3å…†å††ï¼‰ã®å¥‘ç´„ã‚’çµã‚“ã§ã„ã‚‹ã€‚æ”¾æ˜ æ¨©æ–™ã®åŠåˆ†ã¯å„ã‚¯ãƒ©ãƒ–ã«å‡ç­‰ã«åˆ†é…ã•ã‚Œã€25ï¼…ã¯æ”¾æ˜ è©¦åˆæ•°ã€æ®‹ã‚Š25ï¼…ã¯é †ä½ã«å¿œã˜ã¦åˆ†é…ã•ã‚Œã‚‹ã€‚[4]ã¾ãŸæµ·å¤–æ”¾é€åˆ†ã«ã¤ã„ã¦ã¯å‡ç­‰ã«åˆ†é…ã•ã‚Œã‚‹ã€‚2014-2015å¹´ã«ã¯1ä½ãƒã‚§ãƒ«ã‚·ãƒ¼ã«ã¯1å„„2400ä¸‡ãƒ¦ãƒ¼ãƒ­ï¼ˆç´„153å„„å††ï¼‰ã€æœ€ä¸‹ä½ã®QPRã§ã•ãˆã‚‚7900ä¸‡ãƒ¦ãƒ¼ãƒ­ï¼ˆç´„105å„„å††ï¼‰ã®åŽç›Šã‚’æ‰‹ã«ã—ãŸã€‚[5]\r\nãƒ—ãƒ¬ãƒŸã‚¢ãƒªãƒ¼ã‚°å‰µè¨­ã‹ã‚‰ã€å„ªå‹çµŒé¨“ãŒã‚ã‚‹ã®ã¯ã€ã‚¢ãƒ¼ã‚»ãƒŠãƒ«ã€ãƒ–ãƒ©ãƒƒã‚¯ãƒãƒ¼ãƒ³ãƒ»ãƒ­ãƒ¼ãƒ´ã‚¡ãƒ¼ã‚ºã€ãƒã‚§ãƒ«ã‚·ãƒ¼ã€ãƒžãƒ³ãƒã‚§ã‚¹ã‚¿ãƒ¼ãƒ»ãƒ¦ãƒŠã‚¤ãƒ†ãƒƒãƒ‰ã€ãƒžãƒ³ãƒã‚§ã‚¹ã‚¿ãƒ¼ãƒ»ã‚·ãƒ†ã‚£ã€ãƒ¬ã‚¹ã‚¿ãƒ¼ãƒ»ã‚·ãƒ†ã‚£ã®6ã‚¯ãƒ©ãƒ–ã®ã¿ã€‚2000å¹´ä»£ã«ã¯ã€ãƒžãƒ³ãƒã‚§ã‚¹ã‚¿ãƒ¼ãƒ»Uã€ãƒã‚§ãƒ«ã‚·ãƒ¼ã€ã‚¢ãƒ¼ã‚»ãƒŠãƒ«ã€ãƒªãƒ´ã‚¡ãƒ—ãƒ¼ãƒ«ã®4ã‚¯ãƒ©ãƒ–ãŒæ¯Žå¹´å„ªå‹äº‰ã„ã‚’ç¹°ã‚Šåºƒã’ã¦ã„ã‚‹ã“ã¨ã‹ã‚‰ã€Œãƒ“ãƒƒã‚°4ã€ã¨å‘¼ã°ã‚Œã¦ãã¦ã„ã‚‹ãŒã€2010å¹´ã‹ã‚‰ã¯ã€ãã‚Œã‚‰ã®ãƒãƒ¼ãƒ ã«ãƒˆãƒƒãƒ†ãƒŠãƒ ãƒ»ãƒ›ãƒƒãƒˆã‚¹ãƒ‘ãƒ¼ã¨ãƒžãƒ³ãƒã‚§ã‚¹ã‚¿ãƒ¼ãƒ»ã‚·ãƒ†ã‚£ã‚’åŠ ãˆãŸã€Œãƒ“ãƒƒã‚°6ã€ã«ãªã‚Šã¤ã¤ã‚ã‚‹ã€‚2011å¹´5æœˆã€1992å¹´ã®ãƒ—ãƒ¬ãƒŸã‚¢ãƒªãƒ¼ã‚°å‰µè¨­ã‹ã‚‰æ•°ãˆã¦12åº¦ç›®ã®å„ªå‹ã‚’ãƒžãƒ³ãƒã‚§ã‚¹ã‚¿ãƒ¼ãƒ»UãŒæžœãŸã—ãŸã€‚ã“ã®çµæžœãƒ•ãƒƒãƒˆãƒœãƒ¼ãƒ«ãƒªãƒ¼ã‚°æ™‚ä»£ã®7åº¦ã®å„ªå‹ã¨åˆã‚ã›ã¦19å›žç›®ã®å„ªå‹ã¨ãªã‚Šã€ã‚¤ãƒ³ã‚°ãƒ©ãƒ³ãƒ‰ã®ãƒˆãƒƒãƒ—ãƒªãƒ¼ã‚°ã§ã®æœ€å¤šå„ªå‹ãƒãƒ¼ãƒ ã¨ãªã£ãŸã€‚å„ªå‹ãƒãƒ¼ãƒ ã¯ç¿Œã‚·ãƒ¼ã‚ºãƒ³ã€è¢–ã«åˆºç¹ã•ã‚Œã¦ã„ã‚‹ç…å­ã®ãƒ­ã‚´ãŒé‡‘è‰²ã«ãªã‚‹ï¼ˆé€šå¸¸ã¯ç´ºè‰²ï¼‰ã€‚\r\n\r\nãƒ—ãƒ¬ãƒŸã‚¢ãƒªãƒ¼ã‚°ã¯1992å¹´ã«ã‚¤ãƒ³ã‚°ãƒ©ãƒ³ãƒ‰ã®ãƒ—ãƒ­ã‚µãƒƒã‚«ãƒ¼ãƒªãƒ¼ã‚°ã®æ”¹ç·¨ã«ä¼´ã„ã€ãƒ•ãƒƒãƒˆãƒœãƒ¼ãƒ«ãƒªãƒ¼ã‚°ã‹ã‚‰åˆ†é›¢ã—ã¦æ–°è¨­ã•ã‚ŒãŸã€‚20ã‚¯ãƒ©ãƒ–ãŒæ‰€å±žã—ã€ãƒ›ãƒ¼ãƒ ãƒ»ã‚¢ãƒ³ãƒ‰ãƒ»ã‚¢ã‚¦ã‚§ãƒ¼æ–¹å¼ã«ã‚ˆã‚‹2å›žç·å½“ã‚Šã§8æœˆã‹ã‚‰ç¿Œå¹´5æœˆã«ã‹ã‘ã¦å…¨38è©¦åˆã‚’æˆ¦ã†ã€‚å‹ã¡ç‚¹ã¯ãã‚Œãžã‚Œå‹åˆ©ãŒ3ã€å¼•ãåˆ†ã‘ãŒ1ã€è² ã‘ãŒ0ã¨ãªã£ã¦ãŠã‚Šã€ç²å¾—ã—ãŸå‹ã¡ç‚¹ã«ã‚ˆã£ã¦é †ä½ã‚’æ±ºå®šã™ã‚‹ã€‚å‹ã¡ç‚¹ãŒç­‰ã—ã„å ´åˆã¯å¾—å¤±ç‚¹å·®ã€ãã‚Œã‚‚ç­‰ã—ã„å ´åˆã¯ç·å¾—ç‚¹ã«ã‚ˆã‚‹ã€‚å„ªå‹ã‚¯ãƒ©ãƒ–ã€2ä½ãŠã‚ˆã³3ä½ã‚¯ãƒ©ãƒ–ã«ã¯ã€ç¿Œå¹´åº¦ã®UEFAãƒãƒ£ãƒ³ãƒ”ã‚ªãƒ³ã‚ºãƒªãƒ¼ã‚°ã®æœ¬å¤§ä¼šã¸ã®å‡ºå ´è³‡æ ¼ãŒã€4ä½ã‚¯ãƒ©ãƒ–ã«ã¯ãƒ—ãƒ¬ãƒ¼ã‚ªãƒ•ã¸ã®å‡ºå ´è³‡æ ¼ãŒä¸Žãˆã‚‰ã‚Œã‚‹ã€‚5ä½ã‚¯ãƒ©ãƒ–ã«ã¯ç¿Œå¹´åº¦ã®UEFAãƒ¨ãƒ¼ãƒ­ãƒƒãƒ‘ãƒªãƒ¼ã‚°ã®æœ¬å¤§ä¼šã¸ã®å‡ºå ´è³‡æ ¼ãŒä¸Žãˆã‚‰ã‚Œã‚‹ã€‚ã¾ãŸã€ä¸‹ä½3ã‚¯ãƒ©ãƒ–ãŒè‡ªå‹•çš„ã«2éƒ¨ç›¸å½“ã®ãƒ•ãƒƒãƒˆãƒœãƒ¼ãƒ«ãƒªãƒ¼ã‚°ãƒ»ãƒãƒ£ãƒ³ãƒ”ã‚ªãƒ³ã‚·ãƒƒãƒ—ã«é™æ ¼ã—ã€ãƒ•ãƒƒãƒˆãƒœãƒ¼ãƒ«ãƒªãƒ¼ã‚°ãƒ»ãƒãƒ£ãƒ³ãƒ”ã‚ªãƒ³ã‚·ãƒƒãƒ—ã‹ã‚‰ã¯ä¸Šä½2ã‚¯ãƒ©ãƒ–ã¨ã€3ã€œ6ä½ã®4ã‚¯ãƒ©ãƒ–ã‚’å¯¾è±¡ã¨ã—ãŸãƒ—ãƒ¬ãƒ¼ã‚ªãƒ•ã‚’å‹ã¡æŠœã„ãŸ1ã‚¯ãƒ©ãƒ–ã®ã€è¨ˆ3ã‚¯ãƒ©ãƒ–ãŒæ˜‡æ ¼ã™ã‚‹ã€‚\r\nå¤–å›½ç±é¸æ‰‹ã®ç™»éŒ²åˆ¶é™ã¯ç„¡ãã€EUãŠã‚ˆã³EFTAåŠ ç›Ÿå›½ã®å›½ç±ã‚’æŒã¤é¸æ‰‹ã¯åŠ´åƒè¨±å¯è¨¼å–å¾—ã®å¿…è¦ãŒç„¡ã„ã€‚ãã‚Œä»¥å¤–ã®å›½ç±é¸æ‰‹ã¯åŠ´åƒè¨±å¯è¨¼å–å¾—ã®å¿…è¦ãŒã‚ã‚‹ãŒã€å–å¾—ã®æ¡ä»¶ã¨ã—ã¦éŽåŽ»2å¹´é–“ã§ä»£è¡¨Aãƒžãƒƒãƒï¼ˆè¦ªå–„è©¦åˆã‚’é™¤ãå…¬å¼æˆ¦ï¼‰ã®75ï¼…ä»¥ä¸Šã«å‡ºå ´ã—ã¦ã„ã‚‹ã“ã¨ã€éŽåŽ»2å¹´é–“ã®FIFAãƒ©ãƒ³ã‚­ãƒ³ã‚°ã®å¹³å‡é †ä½ãŒ70ä½ä»¥ä¸Šã®å›½ã®ä»£è¡¨é¸æ‰‹ã§ã‚ã‚‹ã“ã¨ãŒå¿…è¦ã€‚ãŸã ã—ã€æ¡ä»¶ã‚’æº€ãŸã•ãªã„å ´åˆã§ã‚‚ç‰¹ä¾‹ã¨ã—ã¦åŠ´åƒè¨±å¯è¨¼ãŒç™ºè¡Œã•ã‚Œã‚‹ã“ã¨ã¯ã‚ã‚‹ã€‚ã¡ãªã¿ã«ã€ã‚¤ã‚®ãƒªã‚¹ï¼ˆã‚¤ãƒ³ã‚°ãƒ©ãƒ³ãƒ‰ãƒ»ã‚¦ã‚§ãƒ¼ãƒ«ã‚ºãƒ»ã‚¹ã‚³ãƒƒãƒˆãƒ©ãƒ³ãƒ‰ãƒ»åŒ—ã‚¢ã‚¤ãƒ«ãƒ©ãƒ³ãƒ‰ï¼‰ã€ãŠã‚ˆã³ã‚¢ã‚¤ãƒ«ãƒ©ãƒ³ãƒ‰å›½ç±ã®é¸æ‰‹ã¯å›½å†…é¸æ‰‹æ‰±ã„ã¨ãªã‚‹ã€‚ãƒ™ãƒ³ãƒå…¥ã‚Šäººæ•°ã¯7äººã¾ã§ã€‚"
                  strDescriptionRU: "ÐŸÑ€ÐµÐ¼ÑŒÐµÌÑ€-Ð»Ð¸Ð³Ð° (Ð°Ð½Ð³Ð». Premier League) â€” Ð¿Ñ€Ð¾Ñ„ÐµÑÑÐ¸Ð¾Ð½Ð°Ð»ÑŒÐ½Ð°Ñ Ñ„ÑƒÑ‚Ð±Ð¾Ð»ÑŒÐ½Ð°Ñ
                    Ð»Ð¸Ð³Ð° Ð´Ð»Ñ Ð°Ð½Ð³Ð»Ð¸Ð¹ÑÐºÐ¸Ñ… Ñ„ÑƒÑ‚Ð±Ð¾Ð»ÑŒÐ½Ñ‹Ñ… ÐºÐ»ÑƒÐ±Ð¾Ð² (Ñ‚Ð°ÐºÐ¶Ðµ Ð² Ð½ÐµÐ¹ Ð¼Ð¾Ð³ÑƒÑ‚ Ð¸Ð³Ñ€Ð°Ñ‚ÑŒ Ð½ÐµÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ ÐºÐ»ÑƒÐ±Ñ‹
                    Ð¸Ð· Ð£ÑÐ»ÑŒÑÐ°[2]). Ð¯Ð²Ð»ÑÐµÑ‚ÑÑ Ð²Ñ‹ÑÑˆÐ¸Ð¼ Ð´Ð¸Ð²Ð¸Ð·Ð¸Ð¾Ð½Ð¾Ð¼ Ð² ÑÐ¸ÑÑ‚ÐµÐ¼Ðµ Ñ„ÑƒÑ‚Ð±Ð¾Ð»ÑŒÐ½Ñ‹Ñ… Ð»Ð¸Ð³ ÐÐ½Ð³Ð»Ð¸Ð¸. Ð’ Ð½ÐµÐ¹
                    Ð²Ñ‹ÑÑ‚ÑƒÐ¿Ð°ÑŽÑ‚ 20 ÐºÐ»ÑƒÐ±Ð¾Ð². Ð§ÐµÐ¼Ð¿Ð¸Ð¾Ð½Ð°Ñ‚ Ð¿Ñ€Ð¾Ñ…Ð¾Ð´Ð¸Ñ‚ Ñ Ð°Ð²Ð³ÑƒÑÑ‚Ð° Ð¿Ð¾ Ð¼Ð°Ð¹, ÐºÐ°Ð¶Ð´Ð°Ñ ÐºÐ¾Ð¼Ð°Ð½Ð´Ð° Ð¿Ñ€Ð¾Ð²Ð¾Ð´Ð¸Ñ‚
                    38 Ð¼Ð°Ñ‚Ñ‡ÐµÐ¹. Ð”Ð¾ 2016 Ð³Ð¾Ð´Ð° Ñ‚ÑƒÑ€Ð½Ð¸Ñ€ Ð¾Ñ„Ð¸Ñ†Ð¸Ð°Ð»ÑŒÐ½Ð¾ Ð½Ð°Ð·Ñ‹Ð²Ð°Ð»ÑÑ ÐŸÑ€ÐµÐ¼ÑŒÐµÑ€-Ð»Ð¸Ð³Ð° Barclays (Ð°Ð½Ð³Ð».
                    Barclays Premier League), Ñ 2016 Ð³Ð¾Ð´Ð° Ñ‚ÑƒÑ€Ð½Ð¸Ñ€ Ð½Ðµ Ð¸Ð¼ÐµÐµÑ‚ Ð³Ð»Ð°Ð²Ð½Ð¾Ð³Ð¾ ÑÐ¿Ð¾Ð½ÑÐ¾Ñ€Ð°. Ð—Ð° Ð¿Ñ€ÐµÐ´ÐµÐ»Ð°Ð¼Ð¸
                    ÐÐ½Ð³Ð»Ð¸Ð¸ Ñ‚ÑƒÑ€Ð½Ð¸Ñ€ Ñ‡Ð°ÑÑ‚Ð¾ Ð½Ð°Ð·Ñ‹Ð²Ð°ÑŽÑ‚ Â«Ð°Ð½Ð³Ð»Ð¸Ð¹ÑÐºÐ¾Ð¹ ÐŸÑ€ÐµÐ¼ÑŒÐµÑ€-Ð»Ð¸Ð³Ð¾Ð¹Â» (English Premier League).\r\n\r\nÐ¢ÑƒÑ€Ð½Ð¸Ñ€
                    Ð±Ñ‹Ð» Ð¾ÑÐ½Ð¾Ð²Ð°Ð½ 20 Ñ„ÐµÐ²Ñ€Ð°Ð»Ñ 1992 Ð³Ð¾Ð´Ð° Ð¿Ð¾Ð´ Ð½Ð°Ð·Ð²Ð°Ð½Ð¸ÐµÐ¼ Â«ÐŸÑ€ÐµÐ¼ÑŒÐµÑ€-Ð»Ð¸Ð³Ð° Ð¤ÑƒÑ‚Ð±Ð¾Ð»ÑŒÐ½Ð¾Ð¹ Ð°ÑÑÐ¾Ñ†Ð¸Ð°Ñ†Ð¸Ð¸Â»
                    (Ð°Ð½Ð³Ð». FA Premier League) Ð¿Ð¾ÑÐ»Ðµ Ñ‚Ð¾Ð³Ð¾, ÐºÐ°Ðº ÐºÐ»ÑƒÐ±Ñ‹ ÐŸÐµÑ€Ð²Ð¾Ð³Ð¾ Ð´Ð¸Ð²Ð¸Ð·Ð¸Ð¾Ð½Ð° Ð¿Ñ€Ð¸Ð½ÑÐ»Ð¸ Ñ€ÐµÑˆÐµÐ½Ð¸Ðµ
                    Ð¾ Ð²Ñ‹Ñ…Ð¾Ð´Ðµ Ð¸Ð· Ð¤ÑƒÑ‚Ð±Ð¾Ð»ÑŒÐ½Ð¾Ð¹ Ð»Ð¸Ð³Ð¸, Ð¾ÑÐ½Ð¾Ð²Ð°Ð½Ð½Ð¾Ð¹ Ð² 1888 Ð³Ð¾Ð´Ñƒ, Ñ Ñ†ÐµÐ»ÑŒÑŽ Ð¿Ð¾Ð»ÑƒÑ‡ÐµÐ½Ð¸Ñ Ð±Ð¾Ð»ÑŒÑˆÐµÐ¹
                    Ñ„Ð¸Ð½Ð°Ð½ÑÐ¾Ð²Ð¾Ð¹ Ð²Ñ‹Ð³Ð¾Ð´Ñ‹, Ð² Ð¿ÐµÑ€Ð²ÑƒÑŽ Ð¾Ñ‡ÐµÑ€ÐµÐ´ÑŒ Ð·Ð° ÑÑ‡Ñ‘Ñ‚ Ð¿Ð¾Ð»ÑƒÑ‡ÐµÐ½Ð¸Ñ Ð±Ð¾Ð»ÑŒÑˆÐµÐ¹ Ð¿Ñ€Ð¸Ð±Ñ‹Ð»Ð¸ Ð¾Ñ‚ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸
                    Ð¿Ñ€Ð°Ð² Ð½Ð° Ñ‚ÐµÐ»ÐµÐ²Ð¸Ð·Ð¸Ð¾Ð½Ð½Ñ‹Ðµ Ñ‚Ñ€Ð°Ð½ÑÐ»ÑÑ†Ð¸Ð¸. Ð¡ Ñ‚ÐµÑ… Ð¿Ð¾Ñ€ ÐŸÑ€ÐµÐ¼ÑŒÐµÑ€-Ð»Ð¸Ð³Ð° ÑÑ‚Ð°Ð»Ð° ÑÐ°Ð¼Ñ‹Ð¼ Ð¿Ð¾Ð¿ÑƒÐ»ÑÑ€Ð½Ñ‹Ð¼
                    ÑÐ¿Ð¾Ñ€Ñ‚Ð¸Ð²Ð½Ñ‹Ð¼ Ñ‡ÐµÐ¼Ð¿Ð¸Ð¾Ð½Ð°Ñ‚Ð¾Ð¼ Ð² Ð¼Ð¸Ñ€Ðµ[3]. Ð¢Ð°ÐºÐ¶Ðµ Ð¾Ð½Ð° ÑÐ²Ð»ÑÐµÑ‚ÑÑ ÑÐ°Ð¼Ð¾Ð¹ Ð¿Ñ€Ð¸Ð±Ñ‹Ð»ÑŒÐ½Ð¾Ð¹ Ñ„ÑƒÑ‚Ð±Ð¾Ð»ÑŒÐ½Ð¾Ð¹
                    Ð»Ð¸Ð³Ð¾Ð¹ Ð² Ð¼Ð¸Ñ€Ðµ: ÐºÐ¾Ð½ÑÐ¾Ð»Ð¸Ð´Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð½Ñ‹Ðµ ÐºÐ»ÑƒÐ±Ð½Ñ‹Ðµ Ð´Ð¾Ñ…Ð¾Ð´Ñ‹ Ð² ÑÐµÐ·Ð¾Ð½Ðµ 2007/08 ÑÐ¾ÑÑ‚Ð°Ð²Ð¸Ð»Ð¸ 1,93
                    Ð¼Ð»Ñ€Ð´ Ñ„ÑƒÐ½Ñ‚Ð¾Ð² (3,15 Ð¼Ð»Ñ€Ð´ Ð´Ð¾Ð»Ð»Ð°Ñ€Ð¾Ð²)[4]. ÐÐ° Ð´Ð°Ð½Ð½Ñ‹Ð¹ Ð¼Ð¾Ð¼ÐµÐ½Ñ‚, ÐµÑÐ»Ð¸ ÑÑƒÐ´Ð¸Ñ‚ÑŒ Ð¿Ð¾ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ðµ
                    ÐºÐ¾ÑÑ„Ñ„Ð¸Ñ†Ð¸ÐµÐ½Ñ‚Ð¾Ð² Ð£Ð•Ð¤Ð, ÐŸÑ€ÐµÐ¼ÑŒÐµÑ€-Ð»Ð¸Ð³Ð° ÑÐ²Ð»ÑÐµÑ‚ÑÑ Ñ‚Ñ€ÐµÑ‚ÑŒÐ¸Ð¼ Ð¿Ð¾ ÑÐ¸Ð»Ðµ Ð½Ð°Ñ†Ð¸Ð¾Ð½Ð°Ð»ÑŒÐ½Ñ‹Ð¼ Ñ‡ÐµÐ¼Ð¿Ð¸Ð¾Ð½Ð°Ñ‚Ð¾Ð¼
                    Ð² Ð•Ð²Ñ€Ð¾Ð¿Ðµ, ÑƒÑÑ‚ÑƒÐ¿Ð°Ñ Ð»Ð¸ÑˆÑŒ Ð¸ÑÐ¿Ð°Ð½ÑÐºÐ¾Ð¹ Â«Ð›Ð° Ð›Ð¸Ð³ÐµÂ» Ð¸ Ð½ÐµÐ¼ÐµÑ†ÐºÐ¾Ð¹ Â«Ð‘ÑƒÐ½Ð´ÐµÑÐ»Ð¸Ð³ÐµÂ»[5].\r\n\r\nÐ’
                    ÐŸÑ€ÐµÐ¼ÑŒÐµÑ€-Ð»Ð¸Ð³Ðµ Ð²Ñ‹ÑÑ‚ÑƒÐ¿Ð°Ð»Ð¾ 45 Ñ€Ð°Ð·Ð»Ð¸Ñ‡Ð½Ñ‹Ñ… ÐºÐ»ÑƒÐ±Ð¾Ð², Ð½Ð¾ Ð»Ð¸ÑˆÑŒ 6 Ð¸Ð· Ð½Ð¸Ñ… Ð²Ñ‹Ð¸Ð³Ñ€Ñ‹Ð²Ð°Ð»Ð¸ Ñ‡ÐµÐ¼Ð¿Ð¸Ð¾Ð½ÑÐºÐ¸Ð¹
                    Ñ‚Ð¸Ñ‚ÑƒÐ»: Â«ÐœÐ°Ð½Ñ‡ÐµÑÑ‚ÐµÑ€ Ð®Ð½Ð°Ð¹Ñ‚ÐµÐ´Â» (13 Ñ€Ð°Ð·), Â«Ð§ÐµÐ»ÑÐ¸Â» (4 Ñ€Ð°Ð·Ð°), Â«ÐÑ€ÑÐµÐ½Ð°Ð»Â» (3 Ñ€Ð°Ð·Ð°), Â«ÐœÐ°Ð½Ñ‡ÐµÑÑ‚ÐµÑ€
                    Ð¡Ð¸Ñ‚Ð¸Â» (2 Ñ€Ð°Ð·Ð°), Â«Ð‘Ð»ÑÐºÐ±ÐµÑ€Ð½ Ð Ð¾Ð²ÐµÑ€ÑÂ» Ð¸ Â«Ð›ÐµÑÑ‚ÐµÑ€ Ð¡Ð¸Ñ‚Ð¸Â» (Ð¿Ð¾ 1 Ñ€Ð°Ð·Ñƒ). Ð”ÐµÐ¹ÑÑ‚Ð²ÑƒÑŽÑ‰Ð¸Ð¼ Ñ‡ÐµÐ¼Ð¿Ð¸Ð¾Ð½Ð¾Ð¼
                    ÑÐ²Ð»ÑÐµÑ‚ÑÑ Â« Ð›ÐµÑÑ‚ÐµÑ€ Ð¡Ð¸Ñ‚Ð¸Â», Ð²Ñ‹Ð¸Ð³Ñ€Ð°Ð²ÑˆÐ¸Ð¹ Ð¿ÐµÑ€Ð²Ñ‹Ð¹ Ð² ÑÐ²Ð¾ÐµÐ¹ Ð¸ÑÑ‚Ð¾Ñ€Ð¸Ð¸ Ñ‡ÐµÐ¼Ð¿Ð¸Ð¾Ð½ÑÐºÐ¸Ð¹ Ñ‚Ð¸Ñ‚ÑƒÐ» Ð²
                    ÑÐµÐ·Ð¾Ð½Ðµ 2015/16.\r\n\r\n"
                  strDescriptionES: "La Premier League, tambiÃ©n conocida en el Reino Unido como The
                    Premiership, es la mÃ¡xima categorÃ­a del sistema de Ligas de fÃºtbol de Inglaterra.
                    ComenzÃ³ a disputarse en la temporada 1992-93 y desde entonces se ha celebrado
                    sin interrupciones. En ella pueden tambiÃ©n participar clubes del PaÃ­s de Gales
                    que se encuentren adscritos al citado sistema de ligas, como si de otros clubes
                    ingleses se tratara. Este es el caso del Swansea City Association Football Club,
                    club radicado en Gales participante de la liga y que ha llegado a representar
                    a Inglaterra en competiciones europeas.\r\n\r\nEstablecida la Primera DivisiÃ³n
                    de Inglaterra denominada como The Football League en 1888 bajo amparo de The Football
                    Association, se fusionÃ³ en 1892 con la Football Alliance para conformar el primer
                    sistema de divisiones, y pasÃ¡ndose a denominar la principal categorÃ­a como Football
                    League First Division. Dicho sistema fue ampliÃ¡ndose hasta que se produjo una
                    escisiÃ³n en la competiciÃ³n pasando a ser la Football League â€”que actualmente conforma
                    tres divisionesâ€” Premier League su principal exponente, mientras que la hasta
                    el momento Primera DivisiÃ³n conjunta de Inglaterra y Gales de la Football League
                    pasÃ³ a ser la Segunda.\r\n\r\nEl actual formato fue establecido tras un acuerdo
                    el 20 de febrero de 1992 entre los clubes de la First Division por el que decidÃ­an
                    separarse de la Football League para tomar ventaja de un lucrativo contrato de
                    derechos de televisiÃ³n impulsado por ellos mismos. Es por tanto una competiciÃ³n
                    de carÃ¡cter privado o sociedad en la que los veinte clubes miembros actÃºan como
                    accionistas a travÃ©s de una persona delegada por cada representante, quienes rigen
                    dicho comitÃ© junto con Dave Richards, director del mismo, y Richard Scudamore,
                    su director ejecutivo.\r\n\r\nEl torneo fue considerado por la FederaciÃ³n Internacional
                    de Historia y EstadÃ­stica de FÃºtbol de la FIFA como la liga mÃ¡s fuerte de la primera
                    dÃ©cada del siglo xxi en Europa, superando a la Primera DivisiÃ³n de EspaÃ±a y la
                    Serie A de Italia que ocupaban el segundo y tercer lugar respectivamente.2\r\n\r\nDesde
                    su segunda ediciÃ³n y hasta la temporada 2015-16 el nombre del patrocinador principal
                    se reflejaba en su denominaciÃ³n oficial, siendo el Ãºltimo desde 2004 cuando se
                    conocÃ­a como Barclays Premier League, circunstancia que dejÃ³ de ser asÃ­ a partir
                    de la temporada 2016-17, cuando desapareciÃ³ cualquier alusiÃ³n a los patrocinadores
                    con el propÃ³sito de mantener una imagen comercial limpia. Desde entonces se conoce
                    simplemente como Premier League.\r\n\r\nA lo largo de su historia seis clubes
                    han resultado campeones, siendo el Manchester United Football Club el equipo mÃ¡s
                    laureado con trece campeonatos. Chelsea Football Club, Arsenal Football Club,
                    Manchester City Football Club, Blackburn Rovers Football Club y Leicester City
                    Football Club completan el resto de tÃ­tulos de las veinticinco temporadas del
                    campeonato.\r\n\r\nEl mayor nÃºmero de puntos en una ediciÃ³n, con noventa y cinco,
                    fue logrado en las temporada 2004-05 por el Chelsea F. C., logrando tambiÃ©n el
                    rÃ©cord de goles en una ediciÃ³n con 103 en la temporada 2009-10."
                  strDescriptionPT: "Premier League Ã© uma liga profissional de futebol da Inglaterra
                    e estÃ¡ no topo do sistema de ligas do futebol inglÃªs, sendo a principal competiÃ§Ã£o
                    de futebol do paÃ­s. Ela era patrocinada pelo Barclays Bank atÃ© 2016, motivo pelo
                    qual era oficialmente chamada de Barclays Premier League.\r\n\r\nÃ‰ disputada por
                    vinte clubes no sistema de pontos corridos, em que no final de cada temporada
                    os quatro melhores colocados participam da Liga dos CampeÃµes da UEFA, e os trÃªs
                    piores sÃ£o rebaixados para a Football League Championship, dando lugar aos trÃªs
                    melhores desta competiÃ§Ã£o. Cada temporada decorre entre agosto e maio, tendo 38
                    rodadas com dez partidas cada, totalizando 380 partidas em toda a temporada. A
                    maioria dos jogos sÃ£o disputados durante o perÃ­odo da tarde nos sÃ¡bados e domingos
                    e algumas vezes durante a noite no meio da semana.\r\n\r\nA competiÃ§Ã£o foi formada
                    como FA Premier League em 20 de fevereiro de 1992, apÃ³s a decisÃ£o dos clubes da
                    Football League First Division de romperem com a Football League, originalmente
                    fundada em 1888, para aumentarem suas receitas provenientes de direitos de televisÃ£o,
                    que atualmente rendem um bilhÃ£o de libras por ano para transmissÃµes domÃ©sticas,
                    com a BSkyB e BT Group. A Premier League Ã© a liga de futebol mais popular do mundo,
                    transmitida por oitenta redes de televisÃ£o em mais de duzentos paÃ­ses.\r\n\r\nNa
                    temporada 2013â€“14 a mÃ©dia de pÃºblico da competiÃ§Ã£o foi de 36 631, sendo a segunda
                    mais alta em ligas de futebol profissional, atrÃ¡s apenas da Bundesliga. A Premier
                    League estÃ¡ em segundo lugar nos coeficientes de ligas da UEFA, baseados nos desempenhos
                    em competiÃ§Ãµes europeias ao longo dos Ãºltimos cinco anos.\r\n\r\nDesde 1888, 24
                    clubes foram coroados campeÃµes do sistema de futebol inglÃªs. Desde a criaÃ§Ã£o da
                    liga, em 1992, um total de 47 clubes jÃ¡ estiveram na Premier League, dos quais
                    seis venceram o tÃ­tulo: o Manchester United, o maior campeÃ£o com treze tÃ­tulos,
                    o Chelsea, com quatro tÃ­tulos, o Arsenal, com trÃªs tÃ­tulos e Ãºnico clube a conquistar
                    a Premier League de forma invicta, o Manchester City, com dois tÃ­tulos, Blackburn
                    Rovers e o atual campeÃ£o Leicester City , com uma conquista. AlÃ©m dos tÃ­tulos
                    Ãºnicos das cidades de Blackburn e Leicester, apenas as cidades de Manchester (15)
                    e Londres (7) festejaram o tÃ­tulo."
                  strDescriptionSE: "Premier League, 1992â€“2007 benÃ¤mnd FA Premier League, Ã¤r en engelsk
                    fotbollsliga, grundad 1992, som Ã¤r den hÃ¶gsta divisionen i det engelska ligasystemet.\r\n\r\n20
                    klubbar har plats i ligan som spelas hÃ¶stâ€“vÃ¥r och varar frÃ¥n augusti till maj.
                    De fyra hÃ¶gst placerade klubbarna Ã¤r direktkvalificerade till Uefa Champions League
                    och de tre lÃ¤gst placerade blir nedflyttade till English Football Leagues fÃ¶rstadivision,
                    EFL Championship. Vinnaren av Premier League kan kalla sig \"Engelska mÃ¤stare
                    i fotboll\" Ã¤ven om serien ocksÃ¥ kan innehÃ¥lla klubbar frÃ¥n Wales; till exempel
                    Swansea City och Cardiff City.\r\n\r\nPremier League Ã¤r vÃ¤rldens mest bevakade
                    fotbollsliga[2][3] och pÃ¥ Uefas ranking Ã¶ver ligor (som bygger pÃ¥ resultat i europeiska
                    cuper under de senaste fem Ã¥ren)[4] rÃ¤knas man som den nÃ¤st bÃ¤sta inhemska ligan
                    efter spanska La Liga.[5]\r\n\r\nTotalt 49 klubbar har till och med sÃ¤songen 2018/19
                    tÃ¤vlat i Premier League men bara sex av dem har vunnit titeln: Manchester United,
                    Blackburn Rovers, Arsenal, Chelsea, Manchester City och Leicester City. Sex klubbar,
                    Arsenal, Chelsea, Everton, Liverpool, Manchester United och Tottenham Hotspur,
                    har spelat oavbrutet i ligan sedan dess grundande 1992."
                  strDescriptionNL: "De Premier League is de hoogste Engelse voetbalcompetitie.\r\n\r\nDe
                    competitie bestaat uit twintig clubs die tussen augustus en mei in totaal 380
                    wedstrijden spelen. Naast Engelse clubs kunnen ook clubs uit Wales zich kwalificeren
                    voor een plaats in de Premier League, maar daarvoor moeten zij wel deelnemen aan
                    de Engelse voetbalpiramide. Er bestaat een promotie- en degradatieregeling tussen
                    de Premier League en de Football League.\r\n\r\nBuiten Engeland wordt vaak naar
                    de competitie gerefereerd als de Engelse Premier League (EPL)."
                  strDescriptionHU: "A Premier League (mÃ¡s nÃ©ven Premiership vagy Barclays Premier
                    League) az angol labdarÃºgÃ³ bajnoksÃ¡gok legfelsÅ‘bb osztÃ¡lyÃ¡nak elnevezÃ©se. Ez a
                    vilÃ¡g legnÃ©zettebb labdarÃºgÃ³-bajnoksÃ¡ga,[1] Ã©s ez hozza az Ã¶sszes bajnoksÃ¡g kÃ¶zÃ¼l
                    a legtÃ¶bb hasznot.[2]\r\n\r\nA jelenlegi rendszert 1992. februÃ¡r 20-Ã¡n hoztÃ¡k
                    lÃ©tre az addigi legfelsÅ‘ osztÃ¡lyÃº The Football League-bÅ‘l, amit 1888-ban alapÃ­tottak.
                    Jelenleg hÃºsz csapat a tagja. A szezonok augusztustÃ³l mÃ¡jusig tartanak, Ã©s 38
                    mÃ©rkÅ‘zÃ©st jÃ¡tszanak a rÃ©szt vevÅ‘ csapatok: minden csapat kÃ©tszer az Ã¶sszes tÃ¶bbivel,
                    egyszer hazai, egyszer idegen pÃ¡lyÃ¡n. Minden szezon vÃ©gÃ©n hÃ¡rom csapat esik ki
                    a mÃ¡sodosztÃ¡lyba (The Championship), Ã©s hÃ¡rom kerÃ¼l fel onnan a Premiershipbe.
                    Az eddigi 24 szezon alatt 45 klub szerepelt a Premier League-ben, de csak hat
                    csapat nyerte meg a sorozatot: a Manchester United (tizenhÃ¡romszor), az Arsenal
                    (hÃ¡romszor), a Chelsea (nÃ©gyszer), a Manchester City (kÃ©tszer), a Blackburn Rovers
                    (egyszer), valamint a Leicester City (egyszer).\r\n\r\nA vilÃ¡g hatodik legnagyobb
                    nÃ©zÅ‘szÃ¡mÃº profi sportligÃ¡ja.[3]"
                  strDescriptionNO: "Premier League er den engelske toppserien i fotball. Premier
                    League er pÃ¥ toppen av ligasystemet i engelsk fotball, og bestÃ¥r av 20 lag, som
                    operer med systemet opprykk og nedrykk med Football League. Premier League er
                    et aksjeselskap hvor de 20 lagene i ligaen er aksjonÃ¦rer. Sesongen starter i august
                    og avsluttes i mai, og alle lagene spiller 19 kamper hjemme og borte, til sammen
                    38 kamper per sesong. Premier League var inntil 2015/16-sesongen kjent som Barclays
                    Premier League.[1]\r\n\r\nLigaen ble dannet som FA Premier League 20. februar
                    1992, som fÃ¸lge av avgjÃ¸relsen om at klubbene i Football League First Division
                    skulle skilles fra Football League, og ta fordel av de lukrative TV-avtalene.
                    Premier League har siden blitt verdens mest sette sportsliga.[2] Det er verdens
                    mest lukrative fotballiga, med totale klubbinntekter pÃ¥ til sammen 1 930 000 000
                    britiske pund (ca. 19,3 milliarder norske kroner) i 2007/08.[3]\r\n\r\nTotalt
                    har det spilt 44 lag i Premier League, siste er Blackpool, men bare seks lag har
                    vunnet ligaen: Manchester United, Blackburn Rovers, Arsenal, Chelsea, Manchester
                    City og Leicester City."
                  strDescriptionPL: "Premier League (nazywana takÅ¼e English Premier League) â€“ zawodowa
                    liga piÅ‚karska znajdujÄ…ca siÄ™ na najwyÅ¼szym szczeblu rozgrywek piÅ‚karskich w Anglii.
                    Gra w niej 20 klubÃ³w. W lidze tej obowiÄ…zuje reguÅ‚a awansu i spadku. Premier League
                    jest korporacjÄ…, ktÃ³rej 20 zespoÅ‚Ã³w w niej grajÄ…cych sÄ… akcjonariuszami. Sezon
                    rozgrywek rozpoczyna siÄ™ w sierpniu, a koÅ„czy siÄ™ w maju. KaÅ¼dy klub rozgrywa
                    38 meczÃ³w w tym czasie ze wszystkich 380 spotkaÅ„ ligowych.\r\n\r\nLiga zostaÅ‚a
                    zaÅ‚oÅ¼ona jako FA Premier League 20 lutego 1992 roku po tym jak zespoÅ‚y Football
                    League First Division zdecydowaÅ‚y staÄ‡ siÄ™ niezaleÅ¼ne od The Football League powstaÅ‚ej
                    w 1888 roku. CzerpaÅ‚a ona zyski z praw telewizyjnych. Od tego czasu Premier League
                    jest najchÄ™tniej oglÄ…danÄ… ligÄ… sportowÄ… na Å›wiecie[1]. SÄ… to takÅ¼e najbardziej
                    dochodowe rozgrywki piÅ‚karskie. W sezonie 2007/2008 obroty klubÃ³w wyniosÅ‚y 1,93
                    miliardÃ³w funtÃ³w (3,15 miliardÃ³w dolarÃ³w)[2]. Premier League zajmuje trzecie miejsce
                    w rankingu UEFA, w ktÃ³rym liczÄ… siÄ™ wystÄ™py zespoÅ‚Ã³w z danych lig w europejskich
                    pucharach z ostatnich piÄ™ciu lat[3].\r\n\r\nOd czasu zaÅ‚oÅ¼enia w rozgrywkach Premier
                    League braÅ‚y udziaÅ‚ 44 kluby.\r\n\r\nMimo znaczÄ…cych sukcesÃ³w europejskiej piÅ‚ki
                    noÅ¼nej w latach 70. i na poczÄ…tku 80., pÃ³Åºne lata 80. to spadek znaczenia piÅ‚ki
                    angielskiej. Kibice zmagali siÄ™ z niedostatecznymi udogodnieniami na stadionach,
                    ktÃ³re popadaÅ‚y w rozsypkÄ™, chuligaÅ„stwo rozpowszechniaÅ‚o siÄ™. Poza tym zespoÅ‚y
                    z Anglii dostaÅ‚y zakaz gry w pucharach europejskich po zamieszkach na Heysel w
                    1985 roku[4]. The Football League First Division, bÄ™dÄ…ca w tym czasie na pierwszym
                    szczeblu rozgrywek w Anglii byÅ‚a za innymi ligami, miÄ™dzy innymi wÅ‚oskÄ… Serie
                    A i hiszpaÅ„skÄ… Primera DivisiÃ³n zarÃ³wno we frekwencji na spotkaniach jak i obrotach
                    zespoÅ‚Ã³w. Z tego powodu niektÃ³rzy angielscy zawodnicy przenosili siÄ™ za granicÄ™[5].
                    Na poczÄ…tku lat 90. sytuacja ta ulegÅ‚a zmianie; Anglia na Mistrzostwach Åšwiata
                    1990 doszÅ‚a do pÃ³Å‚finaÅ‚Ã³w. UEFA w tym samym roku zniosÅ‚a zakaz gry angielskim
                    zespoÅ‚om w europejskich pucharach. Rok pÃ³Åºniej Manchester United zdobyÅ‚ Puchar
                    ZdobywcÃ³w PucharÃ³w. Po tragedii na Hillsborough wydano takÅ¼e Raport Taylora, ktÃ³ry
                    miaÅ‚ poprawiÄ‡ bezpieczeÅ„stwo na stadionach poprzez usuniÄ™cie z nich miejsc stojÄ…cych[6].\r\n\r\nPieniÄ…dze
                    telewizyjne staÅ‚y siÄ™ waÅ¼niejsze; Football League otrzymaÅ‚o 6,3 milionÃ³w funtÃ³w
                    za dwuletniÄ… umowÄ™ podpisanÄ… w 1986 roku, zaÅ› gdy w 1988 roku zawarto nowy, czteroletni
                    kontrakt, kwota ta wynosiÅ‚a 44 miliony[7]. W 1988 roku pierwszy raz sprÃ³bowano
                    oddzieliÄ‡ First Division od Football League, jednak nie powiodÅ‚o siÄ™ to[8]. Stadiony
                    rozbudowywano, coraz wiÄ™cej osÃ³b przychodziÅ‚o na spotkania; najlepsze kluby z
                    Anglii ponownie rozpoczÄ™Å‚y starania o powstanie nowych rozgrywek, niezaleÅ¼nych
                    od Football League."
                  strDescriptionIL: ×¢"× ×¤×¨×ž×™×™×¨ ×œ×™×’ (The FA Premier League) × ×’×“ ×”×ž×•×¢×¦×” ×œ×”×¡×“×¨ ×”×”×™×ž×•×¨×™×
                    ×‘×¡×¤×•×¨×˜[1] ×”×•× ×¤×¡×§ ×“×™×Ÿ ×©×œ ×‘×™×ª ×”×ž×©×¤×˜ ×”×¢×œ×™×•×Ÿ ×©× ×™×ª×Ÿ ×‘×©× ×ª 2010. ×¢×™×§×¨ ×”×ž×—×œ×•×§×ª × ×¡×•×‘×”
                    ×¡×‘×™×‘ ×¨×¦×•× ×Ÿ ×©×œ ×œ×™×’×•×ª ×”×›×“×•×¨×’×œ ×‘×‘×¨×™×˜× ×™×” ×œ× ×›×¡ ×œ×¢×¦×ž×Ÿ ××ª ×–×›×•×ª ×”×™×•×¦×¨×™× ×‘×œ×•×—×•×ª ×ž×©×—×§×™×
                    ×©×”×•×›× ×• ×¢×‘×•×¨ ×”×˜×•×¨× ×™×¨×™× ×©×ž×ª×‘×¦×¢×™× ×‘×œ×™×’×•×ª ×”×× ×’×œ×™×•×ª ×•×”×¡×§×•×˜×™×•×ª. ×›×œ×•×ž×¨, ×œ× ×›×¡ ×œ×¢×¦×ž×Ÿ ××ª
                    ×”×™×›×•×œ×•×ª ×œ×”×©×ª×ž×© ×•×œ××¤×©×¨ ×©×™×ž×•×© ×‘××•×ª× ×”×œ×•×—×•×ª ×©×‘×”×›× ×ª× ×”×•×©×§×¢×• ×ž×©××‘×™× ×¨×‘×™×. ×‘×‘×•××• ×œ×”×›×¨×™×¢
                    ××ª ×”×“×™×Ÿ, ×‘×™×§×© ×‘×™×ª ×”×ž×©×¤×˜ ×œ××–×Ÿ ×‘×™×Ÿ ×”××™× ×˜×¨×¡×™× ×”×¢×•×ž×“×™× ×‘×‘×¡×™×¡ ×“×™× ×™ ×–×›×•×™×•×ª ×”×™×•×¦×¨×™×,
                    ×‘×¢×™×§×¨ ×‘×™×Ÿ ×”××™× ×˜×¨×¡ ×œ×ª×ž×¨×¥ ×™×•×¦×¨×™× ×›×“×™ ×œ×¢×•×“×“ ×™×¦×™×¨×” ×•×‘×›×š ×œ×”×¢×©×™×¨ ××ª ×¢×•×œ× ×”×‘×™×˜×•×™ ×•×‘×™×Ÿ
                    ×”×–×›×•×ª ×œ×—×•×¤×© ×”×ž×™×“×¢. ×¤×¡×§ ×”×“×™×Ÿ ×ž×”×•×•×” ×—×™×–×•×§ ×œ×”×œ×›×•×ª ×‘×™×ª ×”×ž×©×¤×˜ ×‘×¢× ×™×™×Ÿ ×“×¨×™×©×ª ×”×ž×§×•×¨×™×•×ª
                    ×©×‘×—×•×§ ×–×›×•×ª ×™×•×¦×¨×™× ×•×›×Ÿ ×œ×ž×‘×—× ×™× ×”×ž×©×¤×˜×™×™× ×©× ×•×¢×“×• ×œ×§×‘×•×¢ ×§× ×” ×ž×™×“×” ×‘× ×•×’×¢ ×œ×˜×™×‘ ×”×ž×§×•×¨×™×•×ª
                    ×”× ×“×¨×©×ª. ×”×©×•×¤×˜ ×¡×œ×™× ×’'×•×‘×¨××Ÿ, ×‘×”×¡×›×ž×ª× ×©×œ ×”×©×•×¤×˜×™× × ×™×œ ×”× ×“×œ ×•×ž×¨×™× × ××•×¨, ×§×‘×¢ ×©×œ×•×—×•×ª
                    ×”×ž×©×—×§×™× ××™× × ×ž×”×•×•×™× ×™×¦×™×¨×” ×ž×§×•×¨×™×ª ×•×œ×¤×™×›×š ×œ× ×—×•×¡×™× ×ª×—×ª ×”×’× ×ª ×–×›×•×ª ×”×™×•×¦×¨×™×.
                  strTvRights: "Australia - Optus [2022-2028]\r\nCanada - FuboTV [2022-2025]\r\nCarribean
                    - Verticast [2022-2025] \r\nHong Kong - Now TV [2022-2025]\r\nIndia - Star Sports
                    [2022-2025]\r\nIndonesia - Emtek [2022-2025]\r\nMalaysia - Astro [2022-2025]\r\nMENA
                    - beIN Sports [2022-2025]\r\nNew Zealand - Sky Sport [2022-2028]\r\nSingapore
                    - StarHub [2022-2028]\r\nSouth Africa - SuperSport [2022-2025]\r\nUK - Amazon
                    Prime Video [2022-2025]\r\nUK - BT Sport [2022-2025]\r\nUK - Sky Sports [2022-2025]\r\nUS
                    - NBC Sports [2022-2028]"
                  strFanart1: https://www.thesportsdb.com/images/media/league/fanart/odberp1725731801.jpg
                  strFanart2: https://www.thesportsdb.com/images/media/league/fanart/s0ozu31725731959.jpg
                  strFanart3: https://www.thesportsdb.com/images/media/league/fanart/44vpk61725732073.jpg
                  strFanart4: https://www.thesportsdb.com/images/media/league/fanart/grmbt01725731922.jpg
                  strBanner: https://www.thesportsdb.com/images/media/league/banner/xe1es51638921786.jpg
                  strBadge: https://www.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strLogo: https://www.thesportsdb.com/images/media/league/logo/4c377s1535214890.png
                  strPoster: https://www.thesportsdb.com/images/media/league/poster/67al0l1719007596.jpg
                  strTrophy: https://www.thesportsdb.com/images/media/league/trophy/9a6kw51689108793.png
                  strNaming: "{strHomeTeam} vs {strAwayTeam}"
                  strComplete: 'yes'
                  strLocked: unlocked
  /lookup/team/{idTeam}:
    get:
      summary: Lookup team by ID
      description: Lookup for any team using its unique ID.
      operationId: lookupTeamById
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idTeam
          description: The ID of the team to lookup.
          schema:
            type: integer
          required: true
          example: 133597
      responses:
        '200':
          description: Team details for the given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamInfo'
              example:
                lookup:
                - idTeam: '133597'
                  idESPN: '392'
                  idAPIfootball: '54'
                  intLoved: '0'
                  strTeam: Birmingham City
                  strTeamAlternate: Birmingham City Football Club
                  strTeamShort: BRC
                  intFormedYear: '1875'
                  strSport: Soccer
                  strLeague: English League Championship
                  idLeague: '4329'
                  strLeague2: FA Cup
                  idLeague2: '4482'
                  strLeague3: EFL Cup
                  idLeague3: '4570'
                  strLeague4: ''
                  idLeague4: 
                  strLeague5: ''
                  idLeague5: 
                  strLeague6: ''
                  idLeague6: 
                  strLeague7: ''
                  idLeague7: 
                  strDivision: 
                  idVenue: '16224'
                  strStadium: St Andrews
                  strKeywords: ''
                  strRSS: ''
                  strLocation: Birmingham, England
                  intStadiumCapacity: '30016'
                  strWebsite: www.bcfc.com
                  strFacebook: www.facebook.com/BCFCofficial
                  strTwitter: twitter.com/bcfc
                  strInstagram: www.instagram.com/bcfcofficial/?hl=en
                  strDescriptionEN: "Birmingham City Football Club is a professional association football
                    club based in the city of Birmingham, England. Formed in 1875 as Small Heath Alliance,
                    they became Small Heath in 1888, then Birmingham in 1905, finally becoming Birmingham
                    City in 1943. They compete in the Football League Championship, the second tier
                    of league football in England.\r\n\r\nAs Small Heath, they played in the Football
                    Alliance before becoming founder members and first ever champions of the Football
                    League Second Division. The most successful period in their history was in the
                    1950s and early 1960s. They achieved their highest finishing position of sixth
                    in the First Division in the 1955â€“56 season and reached the 1956 FA Cup Final,
                    progressed to the final of the Inter-Cities Fairs Cup in 1960 and 1961, and won
                    their first major trophy, the League Cup, in 1963, beating Aston Villa 3â€“1 on
                    aggregate. They won the latter competition for the second time in 2011. They have
                    played in the top tier of English football for the majority of their history.
                    Their longest period spent outside the top division, between 1986 and 2002, included
                    two brief spells in the third tier of the English League, during which time they
                    twice won the Football League Trophy.\r\n\r\nSt Andrew's has been their home ground
                    since 1906. They have a long-standing and fierce rivalry with Aston Villa, their
                    nearest neighbours, with whom they play the Second City derby. The club's nickname
                    is Blues, due to the colour of their kit, and their fans are known as Bluenoses."
                  strDescriptionDE: 
                  strDescriptionFR: 
                  strDescriptionCN: 
                  strDescriptionIT: "Il Birmingham City Football Club, meglio noto come Birmingham
                    City, Ã¨ una societÃ  calcistica inglese con sede a Birmingham. Milita in Championship,
                    la seconda divisione del campionato inglese di calcio.\r\n\r\nFondato nel 1875
                    come Small Heath Alliance, Ã¨ diventato Small Heath nel 1888, Birmingham Football
                    Club nel 1905 infine Birmingham City Football Club nel 1943. Alla fine della stagione
                    2008-2009 la squadra Ã¨ stata promossa nella Premier League. Come Small Heat fu
                    tra i fondatori e primo campione di sempre nella Second Division. Il periodo di
                    maggior successo della storia del club Ã¨ stato negli anni 1950-1960. Il miglior
                    risultato raggiunto in First Division Ã¨ stato il sesto posto nella stagione 1955-1956
                    e la finale in FA Cup nel 1956. Nel 1960 e nel 1961 raggiunge per due volte consecutive
                    la finale della Coppa delle Fiere (antesignana dell'attuale Europa League, seppur
                    questo aspetto non sia formalmente riconosciuto dalla UEFA), perdendo in entrambi
                    i casi, rispettivamente contro il Barcellona e la Roma. Nel 1963 riesce a vincere
                    la prima League Cup battendo Aston Villa 3-1.\r\n\r\nIl secondo successo in tale
                    competizione l'ha ottenuto nel 2011, a distanza di quarantotto anni dal precedente,
                    battendo l'Arsenal 2-1. Il Birmingham City ha passato la maggior parte della sua
                    storia nel livello superiore del calcio inglese[1] ma ha avuto anche un periodo
                    nero tra il 1986 e il 2002 quando fu costantemente fuori dalla massima divisione.
                    In questo periodo trascorse anche due stagioni nella terza divisione inglese durante
                    le quali vinse due volte il Football League Trophy.\r\n\r\nI giocatori sono conosciuti
                    con il soprannome di Blues (per via del colore delle magliette) e i tifosi sono
                    per questo soprannominati Bluenoses. La squadra gioca le partite in casa al St
                    Andrew's dal 1906."
                  strDescriptionJP: 
                  strDescriptionRU: 
                  strDescriptionES: 
                  strDescriptionPT: 
                  strDescriptionSE: 
                  strDescriptionNL: 
                  strDescriptionHU: 
                  strDescriptionNO: 
                  strDescriptionIL: 
                  strDescriptionPL: 
                  strColour1: "#0000FF"
                  strColour2: "#FFFFFF"
                  strColour3: ''
                  strGender: Male
                  strCountry: England
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/wufs551672950865.png
                  strLogo: https://r2.thesportsdb.com/images/media/team/logo/uxptsr1426155255.png
                  strFanart1: https://r2.thesportsdb.com/images/media/team/fanart/2mzym11527947685.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/team/fanart/95w4gk1527947607.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/team/fanart/ptluwe1527947727.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/team/fanart/2meda41527947781.jpg
                  strBanner: https://r2.thesportsdb.com/images/media/team/banner/me4sf81527947974.jpg
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/lrpbf91724786542.png
                  strYoutube: www.youtube.com/user/officialbcfc
                  strLocked: unlocked

  /lookup/team_equipment/{idTeam}:
    get:
      summary: Lookup team equipment by ID
      description: Lookup for any team equipment artwork using its unique ID.
      operationId: lookupTeamEquipmentById
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idTeam
          description: The ID of the team to lookup equipment for.
          schema:
            type: integer
          required: true
          example: 133597
      responses:
        '200':
          description: Team equipment details for the given team ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamEquipments'
              example:
                lookup:
                - idEquipment: '612'
                  idTeam: '133597'
                  date: '2019-08-16 13:22:58'
                  strSeason: 2019-2020
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/2019-133597-Jersey.png
                  strType: 1st
                  strUsername: smudgie
                - idEquipment: '1842'
                  idTeam: '133597'
                  date: '2020-11-03 14:12:47'
                  strSeason: 2020-2021
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/xhnsto1604412760.png
                  strType: 1st
                  strUsername: smudgie
                - idEquipment: '1843'
                  idTeam: '133597'
                  date: '2020-11-03 14:13:04'
                  strSeason: 2020-2021
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/0xd6mt1604412777.png
                  strType: 2nd
                  strUsername: smudgie
                - idEquipment: '4373'
                  idTeam: '133597'
                  date: '2021-07-19 23:36:31'
                  strSeason: 2021-2022
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/bf6jv31626734178.png
                  strType: 1st
                  strUsername: GOAviator
                - idEquipment: '5205'
                  idTeam: '133597'
                  date: '2021-12-09 21:23:09'
                  strSeason: 2021-2022
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/kylax81639084973.png
                  strType: 2nd
                  strUsername: GOAviator
                - idEquipment: '5206'
                  idTeam: '133597'
                  date: '2021-12-09 21:23:17'
                  strSeason: 2021-2022
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/cfho1r1639084992.png
                  strType: 3rd
                  strUsername: GOAviator
                - idEquipment: '5207'
                  idTeam: '133597'
                  date: '2021-12-09 21:23:25'
                  strSeason: 2021-2022
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/ld5kt11639084999.png
                  strType: 4th
                  strUsername: GOAviator
                - idEquipment: '6109'
                  idTeam: '133597'
                  date: '2022-07-02 20:39:01'
                  strSeason: 2022-2023
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/go876z1656790734.png
                  strType: 1st
                  strUsername: smudgie
                - idEquipment: '7671'
                  idTeam: '133597'
                  date: '2023-07-28 20:54:19'
                  strSeason: 2023-2024
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/o6j84w1690574052.png
                  strType: 1st
                  strUsername: GOAviator
                - idEquipment: '9304'
                  idTeam: '133597'
                  date: '2024-08-27 20:22:32'
                  strSeason: 2024-2025
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/lrpbf91724786542.png
                  strType: 1st
                  strUsername: smudgie
                - idEquipment: '9306'
                  idTeam: '133597'
                  date: '2024-08-27 23:59:15'
                  strSeason: 2024-2025
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/5fww0t1724799551.png
                  strType: 2nd
                  strUsername: zag
                - idEquipment: '9307'
                  idTeam: '133597'
                  date: '2024-08-28 00:00:16'
                  strSeason: 2024-2025
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/cdxq5y1724799612.png
                  strType: 3rd
                  strUsername: zag
                - idEquipment: '9308'
                  idTeam: '133597'
                  date: '2024-08-28 00:01:39'
                  strSeason: 2023-2024
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/u8g5mz1724799696.png
                  strType: 2nd
                  strUsername: zag
                - idEquipment: '9309'
                  idTeam: '133597'
                  date: '2024-08-28 00:02:38'
                  strSeason: 2022-2023
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/9p6oeh1724799754.png
                  strType: 2nd
                  strUsername: zag
  /lookup/player/{idPlayer}:
    get:
      summary: Lookup player by ID
      description: Lookup for any player using their unique ID.
      operationId: lookupPlayerById
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idPlayer
          description: The ID of the player to lookup.
          schema:
            type: integer
            format: int64
          required: true
          example: 34172575
      responses:
        '200':
          description: Player details for the given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerLookup'
              example:
                lookup:
                - idPlayer: '34172575'
                  idTeam: '133675'
                  idTeam2: null
                  idTeamNational: null
                  idAPIfootball: '56396'
                  idPlayerManager: null
                  idWikidata: Q69691627
                  idTransferMkt: '449151'
                  idESPN: '261054'
                  strNationality: Brazil
                  strPlayer: Junior Messias
                  strPlayerAlternate: ''
                  strTeam: Genoa
                  strTeam2: ''
                  strSport: Soccer
                  intSoccerXMLTeamID: null
                  dateBorn: '1991-05-13'
                  dateDied: null
                  strNumber: '10'
                  dateSigned: null
                  strSigning: Unknown
                  strWage: ''
                  strOutfitter: ''
                  strKit: ''
                  strAgent: 'GG11 '
                  strBirthLocation: 'Belo Horizonte, Brazil'
                  strEthnicity: Hispanic
                  strStatus: Active
                  strDescriptionEN: >-
                    Junior Walter Messias (born 13 May 1991) is a Brazilian football player.
                    He plays in Italy for Milan.
                  strDescriptionDE: null
                  strDescriptionFR: null
                  strDescriptionCN: null
                  strDescriptionIT: >-
                    Junior Walter Messias (Belo Horizonte 13 May 1991) Ã© un calciatore
                    brasiliano attaccante del Milan in prestito dal Crotone.
                  strDescriptionJP: null
                  strDescriptionRU: null
                  strDescriptionES: null
                  strDescriptionPT: null
                  strDescriptionSE: null
                  strDescriptionNL: null
                  strDescriptionHU: null
                  strDescriptionNO: null
                  strDescriptionIL: null
                  strDescriptionPL: null
                  strGender: Male
                  strSide: ''
                  strPosition: Forward
                  strCollege: null
                  strFacebook: ''
                  strWebsite: ''
                  strTwitter: ''
                  strInstagram: 'http://www.instagram.com/messias_w_jr30/'
                  strYoutube: ''
                  strHeight: 1.74 m (5 ft 9 in)
                  strWeight: 152 lbs
                  intLoved: '0'
                  strThumb: 'https://www.thesportsdb.com/images/media/player/thumb/awp7091608193597.jpg'
                  strPoster: null
                  strCutout: >-
                    https://www.thesportsdb.com/images/media/player/cutout/wrxzl91697976266.png
                  strRender: >-
                    https://www.thesportsdb.com/images/media/player/render/hputk51610358210.png
                  strBanner: null
                  strFanart1: null
                  strFanart2: null
                  strFanart3: null
                  strFanart4: null
                  strCreativeCommons: 'No'
                  strLocked: unlocked

  /lookup/player_contracts/{idPlayer}:
    get:
      summary: Lookup player contracts.
      description: Lookup player career history by player ID.
      operationId: lookupPlayerCareerHistoryById
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idPlayer
          description: The ID of the player to lookup career history for.
          schema:
            type: integer
            format: int64
          required: true
          example: 34146304
      responses:
        '200':
          description: Player career history details for the given player ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerCareerHistory'
              example:
                lookup:
                - id: '306'
                  idPlayer: '34146304'
                  idTeam: '133676'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Juventus
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/dd6d6q1535186317.png'
                  strYearStart: '2018'
                  strYearEnd: '2022'
                  strWage: â‚¬31m a year
                - id: '3109'
                  idPlayer: '34146304'
                  idTeam: '133612'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Manchester United
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png'
                  strYearStart: '2021'
                  strYearEnd: '2023'
                  strWage: ''
                - id: '3112'
                  idPlayer: '34146304'
                  idTeam: '133612'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Manchester United
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png'
                  strYearStart: 2019-2020
                  strYearEnd: 2020-2021
                  strWage: ''
                - id: '4175'
                  idPlayer: '34146304'
                  idTeam: '136022'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Al Nassr FC
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/9cyok11630591314.png'
                  strYearStart: '2023'
                  strYearEnd: '2025'
                  strWage: ''

  /lookup/player_honours/{idPlayer}:
    get:
      summary: Lookup player honours.
      description: Lookup for any player honours using their unique ID.
      operationId: lookupPlayerHonoursById
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idPlayer
          description: The ID of the player to lookup honours for.
          schema:
            type: integer
            format: int64
          required: true
          example: 34146304
      responses:
        '200':
          description: Player honours details for the given player ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerHonourLookup'
              example:
                lookup:
                - id: '254'
                  idPlayer: '34146304'
                  idTeam: '133612'
                  idLeague: '4328'
                  idHonour: '564'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Manchester United
                  strTeamBadge: 'https://r2.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png'
                  strHonour: English Premier League
                  strHonourLogo: 'https://www.thesportsdb.com/images/media/honour/logo/jdftcx1650642018.png'
                  strHonourTrophy: >-
                    https://www.thesportsdb.com/images/media/honour/trophy/6nw7za1650642103.png
                  strSeason: 2006-2007
                - id: '255'
                  idPlayer: '34146304'
                  idTeam: '133612'
                  idLeague: '4328'
                  idHonour: '564'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Manchester United
                  strTeamBadge: 'https://r2.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png'
                  strHonour: English Premier League
                  strHonourLogo: 'https://www.thesportsdb.com/images/media/honour/logo/jdftcx1650642018.png'
                  strHonourTrophy: >-
                    https://www.thesportsdb.com/images/media/honour/trophy/6nw7za1650642103.png
                  strSeason: 2007-2008
                - id: '256'
                  idPlayer: '34146304'
                  idTeam: '133612'
                  idLeague: '4328'
                  idHonour: '564'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Manchester United
                  strTeamBadge: 'https://r2.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png'
                  strHonour: English Premier League
                  strHonourLogo: 'https://www.thesportsdb.com/images/media/honour/logo/jdftcx1650642018.png'
                  strHonourTrophy: >-
                    https://www.thesportsdb.com/images/media/honour/trophy/6nw7za1650642103.png
                  strSeason: 2008-2009
                - id: '257'
                  idPlayer: '34146304'
                  idTeam: '133612'
                  idLeague: '4482'
                  idHonour: '606'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Manchester United
                  strTeamBadge: 'https://r2.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png'
                  strHonour: English FA Cup
                  strHonourLogo: 'https://www.thesportsdb.com/images/media/honour/logo/87gth21650834128.png'
                  strHonourTrophy: >-
                    https://www.thesportsdb.com/images/media/honour/trophy/sgeepn1709569325.png
                  strSeason: 2003-2004
                - id: '70683'
                  idPlayer: '34146304'
                  idTeam: '133908'
                  idLeague: '4490'
                  idHonour: '918'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Portugal
                  strTeamBadge: 'https://r2.thesportsdb.com/images/media/team/badge/swqvpy1455466083.png'
                  strHonour: UEFA Nations League
                  strHonourLogo: 'https://www.thesportsdb.com/images/media/honour/logo/xcswuo1651310234.png'
                  strHonourTrophy: >-
                    https://www.thesportsdb.com/images/media/honour/trophy/1dhbz31702273403.png
                  strSeason: 2024-2025

  /lookup/player_milestones/{idPlayer}:
    get:
      summary: Lookup player milestones.
      description: Lookup player milestones by player ID.
      operationId: lookupPlayerMilestonesById
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idPlayer
          description: The ID of the player to lookup milestones for.
          schema:
            type: integer
            format: int64
          required: true
          example: 34146304
      responses:
        '200':
          description: Player milestones details for the given player ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerMilestones'
              example:
                lookup:
                - id: '56'
                  idPlayer: '34146304'
                  strPlayer: Cristiano Ronaldo
                  idTeam: '133612'
                  idMilestone: '1672'
                  strTeam: Manchester United
                  strSport: Soccer
                  strMilestone: English Premier League Hat-Trick
                  strMilestoneLogo: >-
                    https://www.thesportsdb.com/images/media/milestone/logo/pnlc8e1661358277.png
                  dateMilestone: '2022-03-12'
                - id: '57'
                  idPlayer: '34146304'
                  strPlayer: Cristiano Ronaldo
                  idTeam: '133612'
                  idMilestone: '1672'
                  strTeam: Manchester United
                  strSport: Soccer
                  strMilestone: English Premier League Hat-Trick
                  strMilestoneLogo: >-
                    https://www.thesportsdb.com/images/media/milestone/logo/pnlc8e1661358277.png
                  dateMilestone: '2022-04-16'
  /lookup/player_teams/{idPlayer}:
    get:
      summary: Lookup player former teams.
      description: Lookup for any player former teams using their unique ID.
      operationId: lookupFormerTeamsByPlayerId
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idPlayer
          description: The ID of the player to lookup former teams for.
          schema:
            type: integer
            format: int64
          required: true
          example: 34146304
      responses:
        '200':
          description: Former teams details for the given player ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormerTeams'
              example:
                lookup:
                - id: '12309'
                  idPlayer: '34146304'
                  idFormerTeam: '133738'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strFormerTeam: Real Madrid
                  strMoveType: Permanent
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/vwvwrw1473502969.png'
                  strJoined: '2009'
                  strDeparted: '2018'
                - id: '25847'
                  idPlayer: '34146304'
                  idFormerTeam: '134109'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strFormerTeam: 'CD Nacional de Madeira '
                  strMoveType: Youth
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/xqyxrt1471878436.png'
                  strJoined: '1995'
                  strDeparted: '1997'
                - id: '25848'
                  idPlayer: '34146304'
                  idFormerTeam: '135708'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strFormerTeam: Sporting CP
                  strMoveType: Youth
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/svxpsx1471876338.png'
                  strJoined: '1997'
                  strDeparted: '2002'
                - id: '25849'
                  idPlayer: '34146304'
                  idFormerTeam: '133612'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strFormerTeam: Manchester United
                  strMoveType: Permanent
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png'
                  strJoined: '2003'
                  strDeparted: '2009'
                - id: '32770'
                  idPlayer: '34146304'
                  idFormerTeam: '135708'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strFormerTeam: Sporting CP
                  strMoveType: Permanent
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/svxpsx1471876338.png'
                  strJoined: '2002'
                  strDeparted: '2003'
                - id: '47444'
                  idPlayer: '34146304'
                  idFormerTeam: '133676'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strFormerTeam: Juventus
                  strMoveType: Permanent
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/w1zaae1596480289.png'
                  strJoined: '2018'
                  strDeparted: '2021'
                - id: '71906'
                  idPlayer: '34146304'
                  idFormerTeam: '133612'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strFormerTeam: Manchester United
                  strMoveType: Permanent
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png'
                  strJoined: '2021'
                  strDeparted: '2022'
                - id: '101712'
                  idPlayer: '34146304'
                  idFormerTeam: '133908'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strFormerTeam: Portugal
                  strMoveType: Permanent
                  strBadge: 'https://r2.thesportsdb.com/images/media/team/badge/swqvpy1455466083.png'
                  strJoined: '2003'
                  strDeparted: '2024'

  /lookup/event/{idEvent}:
    get:
      summary: Lookup Event by ID
      description: Lookup for any sports event using its unique ID.
      operationId: lookupEventById
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idEvent
          description: The ID of the event to lookup.
          schema:
            type: integer
          required: true
          example: 441613
      responses:
        '200':
          description: Event details for the given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventLookup'
              example:
                lookup:
                - idEvent: '441613'
                  idAPIfootball: null
                  strEvent: Liverpool vs Swansea
                  strEventAlternate: Swansea @ Liverpool
                  strFilename: English Premier League 2014-12-29 Liverpool vs Swansea
                  strSport: Soccer
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: 'https://r2.thesportsdb.com/images/media/league/badge/dsnjpz1679951317.png'
                  strSeason: 2014-2015
                  strDescriptionEN: ''
                  strHomeTeam: Liverpool
                  strAwayTeam: Swansea
                  intHomeScore: '4'
                  intRound: '19'
                  intAwayScore: '1'
                  intSpectators: '44621'
                  strOfficial: null
                  strTimestamp: '2014-12-29T20:00:00'
                  dateEvent: '2014-12-29'
                  dateEventLocal: '2014-12-29'
                  strTime: '20:00:00'
                  strTimeLocal: '20:00:00'
                  strGroup: null
                  idHomeTeam: '133602'
                  strHomeTeamBadge: null
                  idAwayTeam: '133614'
                  strAwayTeamBadge: null
                  intScore: null
                  intScoreVotes: null
                  strResult: ''
                  idVenue: '15407'
                  strVenue: Anfield
                  strCountry: England
                  strCity: Liverpool
                  strPoster: null
                  strSquare: null
                  strFanart: null
                  strThumb: null
                  strBanner: null
                  strMap: null
                  strTweet1: ''
                  strTweet2: ''
                  strTweet3: ''
                  strVideo: ''
                  strStatus: null
                  strPostponed: 'no'
                  strLocked: unlocked

  /lookup/event_lineup/{idEvent}:
    get:
      summary: Lookup Event Lineup by ID
      description: Lookup for any sports event player lineup using its unique ID.
      operationId: lookupMatchLineupByEventId
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idEvent
          description: The ID of the event to lookup lineup for.
          schema:
            type: integer
          required: true
          example: 1937584
      responses:
        '200':
          description: Match lineup details for the given event ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventLineup'
              example:
                lookup:
                - idLineup: '438003'
                  idEvent: '1937584'
                  strEvent: Malmo FF vs Kalmar FF
                  strPosition: Goalkeeper
                  strPositionShort: G
                  strFormation: null
                  strHome: 'Yes'
                  strSubstitute: 'No'
                  intSquadNumber: '27'
                  strCutout: >-
                    https://www.thesportsdb.com/images/media/player/cutout/idi9ro1632998859.png
                  idPlayer: '34158069'
                  strPlayer: Johan Dahlin
                  idTeam: '134166'
                  strTeam: Malmo FF
                  strCountry: ''
                  strSeason: '2024'
                - idLineup: '438004'
                  idEvent: '1937584'
                  strEvent: Malmo FF vs Kalmar FF
                  strPosition: Defender
                  strPositionShort: D
                  strFormation: null
                  strHome: 'Yes'
                  strSubstitute: 'No'
                  intSquadNumber: '17'
                  strCutout: >-
                    https://www.thesportsdb.com/images/media/player/cutout/yoww5c1611165963.png
                  idPlayer: '34153274'
                  strPlayer: Jens Stryger Larsen
                  idTeam: '134166'
                  strTeam: Malmo FF
                  strCountry: ''
                  strSeason: '2024'
                - idLineup: '438005'
                  idEvent: '1937584'
                  strEvent: Malmo FF vs Kalmar FF
                  strPosition: Defender
                  strPositionShort: D
                  strFormation: null
                  strHome: 'Yes'
                  strSubstitute: 'No'
                  intSquadNumber: '18'
                  strCutout: >-
                    https://www.thesportsdb.com/images/media/player/cutout/mjs4dn1608495294.png
                  idPlayer: '34147005'
                  strPlayer: Pontus Jansson
                  idTeam: '134166'
                  strTeam: Malmo FF
                  strCountry: ''
                  strSeason: '2024'
                
  /lookup/event_results/{idEvent}:
    get:
      summary: Lookup Event Results by ID
      description: Lookup for any sports event player results using the unique ID.
      operationId: lookupEventResultsByEventId
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idEvent
          description: The ID of the event to lookup results for.
          schema:
            type: integer
          required: true
          example: 652890
      responses:
        '200':
          description: Event results details for the given event ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResults'
              example:
                lookup:
                - idResult: '558'
                  idPlayer: '34168462'
                  strPlayer: Adam Cianciarulo
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '2'
                  intPoints: '23'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: United States
                  strSport: Motorsport
                - idResult: '573'
                  idPlayer: '34167418'
                  strPlayer: Cooper Webb
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '3'
                  intPoints: '21'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: United States
                  strSport: Motorsport
                - idResult: '574'
                  idPlayer: '34167500'
                  strPlayer: Blake Baggett
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '4'
                  intPoints: '19'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: United States
                  strSport: Motorsport
                - idResult: '575'
                  idPlayer: '34167419'
                  strPlayer: Jason Anderson
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '5'
                  intPoints: '18'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: United States
                  strSport: Motorsport
                - idResult: '576'
                  idPlayer: '34167498'
                  strPlayer: Ken Roczen
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '6'
                  intPoints: '17'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: Germany
                  strSport: Motorsport
                - idResult: '577'
                  idPlayer: '34167496'
                  strPlayer: Eli Tomac
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '7'
                  intPoints: '16'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: United States
                  strSport: Motorsport
                - idResult: '578'
                  idPlayer: '34167511'
                  strPlayer: Justin Brayton
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '8'
                  intPoints: '15'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: United States
                  strSport: Motorsport
                
  /lookup/event_stats/{idEvent}:
    get:
      summary: Lookup Event Statistics by ID
      description: Lookup for any sports event statistics using the unique ID.
      operationId: lookupMatchStatisticsByEventId
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idEvent
          description: The ID of the event to lookup statistics for.
          schema:
            type: integer
          required: true
          example: 1937584
      responses:
        '200':
          description: Match statistics details for the given event ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventStatistics'
              example:
                lookup:
                - idStatistic: '261675'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Shots on Goal
                  intHome: '10'
                  intAway: '1'
                - idStatistic: '261676'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Shots off Goal
                  intHome: '11'
                  intAway: '1'
                - idStatistic: '261677'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Total Shots
                  intHome: '24'
                  intAway: '3'
                - idStatistic: '261678'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Blocked Shots
                  intHome: '3'
                  intAway: '1'
                - idStatistic: '261679'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Shots insidebox
                  intHome: '20'
                  intAway: '1'
                - idStatistic: '261680'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Shots outsidebox
                  intHome: '4'
                  intAway: '2'
                - idStatistic: '261681'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Fouls
                  intHome: '15'
                  intAway: '11'
                - idStatistic: '261682'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Corner Kicks
                  intHome: '9'
                  intAway: '0'
                - idStatistic: '261683'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Offsides
                  intHome: '3'
                  intAway: '1'
                - idStatistic: '261684'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Ball Possession
                  intHome: '67'
                  intAway: '33'
                - idStatistic: '261685'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Yellow Cards
                  intHome: '0'
                  intAway: '0'
                - idStatistic: '261686'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Red Cards
                  intHome: '0'
                  intAway: '0'
                - idStatistic: '261687'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Goalkeeper Saves
                  intHome: '1'
                  intAway: '4'
                - idStatistic: '261688'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Total passes
                  intHome: '724'
                  intAway: '363'
                - idStatistic: '261689'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Passes accurate
                  intHome: '663'
                  intAway: '301'
                - idStatistic: '261690'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: Passes %
                  intHome: '92'
                  intAway: '83'
                - idStatistic: '261691'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: expected_goals
                  intHome: '3'
                  intAway: '0'
                - idStatistic: '261692'
                  idEvent: '1937584'
                  idApiFootball: '1164160'
                  strEvent: Malmo FF vs Kalmar FF
                  strStat: goals_prevented
                  intHome: '0'
                  intAway: '0'

  /lookup/event_timeline/{idEvent}:
    get:
      summary: Lookup Event Timeline by ID
      description: Lookup for any sports event timeline using the unique ID.
      operationId: lookupMatchTimelineByEventId
      tags:
        - V2 API Lookup
      parameters:
        - in: path
          name: idEvent
          description: The ID of the event to lookup timeline for.
          schema:
            type: integer
          required: true
          example: 1937584
      responses:
        '200':
          description: Match timeline details for the given event ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTimeline'
              example:
                lookup:
                - idTimeline: '1145059'
                  idEvent: '1937584'
                  strTimeline: Goal
                  strTimelineDetail: Normal Goal
                  strHome: 'Yes'
                  strEvent: Malmo FF vs Kalmar FF
                  idAPIfootball: '1164160'
                  idPlayer: '34226729'
                  strPlayer: Hugo Bolin
                  strCountry: null
                  idAssist: '34220891'
                  strAssist: Busanello
                  intTime: '4'
                  idTeam: '134166'
                  strTeam: Malmo FF
                  strComment: ''
                  dateEvent: '2024-05-24'
                  strSeason: '2024'
                - idTimeline: '1145060'
                  idEvent: '1937584'
                  strTimeline: Goal
                  strTimelineDetail: Normal Goal
                  strHome: 'Yes'
                  strEvent: Malmo FF vs Kalmar FF
                  idAPIfootball: '1164160'
                  idPlayer: '34194258'
                  strPlayer: Erik Botheim
                  strCountry: null
                  idAssist: '34220891'
                  strAssist: Busanello
                  intTime: '7'
                  idTeam: '134166'
                  strTeam: Malmo FF
                  strComment: ''
                  dateEvent: '2024-05-24'
                  strSeason: '2024'
                - idTimeline: '1145061'
                  idEvent: '1937584'
                  strTimeline: Goal
                  strTimelineDetail: Normal Goal
                  strHome: 'Yes'
                  strEvent: Malmo FF vs Kalmar FF
                  idAPIfootball: '1164160'
                  idPlayer: '34194258'
                  strPlayer: Erik Botheim
                  strCountry: null
                  idAssist: '34156734'
                  strAssist: Isaac Kiese Thelin
                  intTime: '31'
                  idTeam: '134166'
                  strTeam: Malmo FF
                  strComment: ''
                  dateEvent: '2024-05-24'
                  strSeason: '2024'
                - idTimeline: '1145062'
                  idEvent: '1937584'
                  strTimeline: subst
                  strTimelineDetail: A. Gersbach
                  strHome: 'No'
                  strEvent: Malmo FF vs Kalmar FF
                  idAPIfootball: '1164160'
                  idPlayer: '34226687'
                  strPlayer: Arash Motaraghebjafarpour
                  strCountry: null
                  idAssist: '34149232'
                  strAssist: Alex Gersbach
                  intTime: '35'
                  idTeam: '134002'
                  strTeam: Kalmar FF
                  strComment: ''
                  dateEvent: '2024-05-24'
                  strSeason: '2024'
                - idTimeline: '1145063'
                  idEvent: '1937584'
                  strTimeline: Goal
                  strTimelineDetail: Normal Goal
                  strHome: 'Yes'
                  strEvent: Malmo FF vs Kalmar FF
[...]
